In [1]:
!pip3 install arrow

import os
import arrow
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from copy import deepcopy

Collecting arrow
  Downloading https://files.pythonhosted.org/packages/40/2a/9dd6a391e7813b9908b4dcaec7df0f2d365cfc0f071799f2ae5147707923/arrow-0.15.8-py2.py3-none-any.whl (49kB)
     |████████████████████████████████| 51kB 1.5MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from arrow) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil->arrow) (1.15.0)
Installing collected packages: arrow
Successfully installed arrow-0.15.8

In [3]:
from google.colab import drive
drive.mount('/content/drive')
os.listdir('/content/drive/My Drive/vc_modeling')

['presentation_poster.pptx',
 'data',
 'regression_targets',
 'feature_extraction',
 'model output data spec.gsheet',
 'models',
 '.ipynb_checkpoints',
 'model_output']

In [4]:
file_names = os.listdir("/content/drive/My Drive/vc_modeling/data/crunchbase_bulk_export/")
print(file_names)

['category_groups.csv', 'funding_rounds.csv', 'people.csv', 'checksum.csv', 'people_descriptions.csv', 'investors.csv', 'organization_descriptions.csv', 'investment_partners.csv', 'event_appearances.csv', 'organizations.csv', 'org_parents.csv', 'jobs.csv', 'acquisitions.csv', 'funds.csv', 'ipos.csv', 'degrees.csv', 'investments.csv', 'events.csv']

In [5]:
# use_files = ['category_groups.csv', 'funding_rounds.csv', 'people.csv', 'checksum.csv', 'people_descriptions.csv', 'investors.csv', 'organization_descriptions.csv', 'investment_partners.csv', 'event_appearances.csv', 'organizations.csv', 'org_parents.csv', 'jobs.csv', 'acquisitions.csv', 'funds.csv', 'ipos.csv', 'degrees.csv', 'investments.csv', 'events.csv']
use_files = ['funding_rounds.csv', 'investors.csv', 'investment_partners.csv', 'organizations.csv', 'org_parents.csv', 'funds.csv', 'investments.csv', 'acquisitions.csv', 'ipos.csv']

In [6]:
df_names = [x[:-4] for x in use_files]
print(df_names)

['funding_rounds', 'investors', 'investment_partners', 'organizations', 'org_parents', 'funds', 'investments', 'acquisitions', 'ipos']

In [7]:
dfs = [pd.read_csv("/content/drive/My Drive/vc_modeling/data/crunchbase_bulk_export/"+x) for x in use_files]
df_dict = dict(zip(df_names, dfs))
print(df_dict.keys())

dict_keys(['funding_rounds', 'investors', 'investment_partners', 'organizations', 'org_parents', 'funds', 'investments', 'acquisitions', 'ipos'])

## Look at key dfs

In [ ]:
df_dict["funding_rounds"].head()

                                   uuid  ...                                lead_investor_uuids
0  8a945939-18e0-cc9d-27b9-bf33817b2818  ...               3f47be49-2e32-8118-01a0-31685a4d0fd7
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...               b08efc27-da40-505a-6f9d-c9e14247bf36
2  6fae3958-a001-27c0-fb7e-666266aedd78  ...  e2006571-6b7a-e477-002a-f7014f48a7e3,8d5c7e48-...
3  bcd5a63d-ed99-6963-0dd2-e36f6582f846  ...                                                NaN
4  60e6afd9-1215-465a-dd17-0ed600d4e29b  ...               fb2f8884-ec07-895a-48d7-d9a9d4d7175c

[5 rows x 24 columns]

In [ ]:
df_dict["organizations"].head()

                                   uuid  ... num_exits
0  e1393508-30ea-8a36-3f96-dd3226033abd  ...       NaN
1  bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7  ...       1.0
2  5f2b40b8-d1b3-d323-d81a-b7a8e89553d0  ...       NaN
3  f4d5ab44-058b-298b-ea81-380e6e9a8eec  ...      33.0
4  df662812-7f97-0b43-9d3e-12f64f504fbb  ...       NaN

[5 rows x 41 columns]

In [ ]:
df_dict['org_parents'].head()

                                   uuid  ...            parent_name
0  d70777cc-14bd-2416-0692-5a483781b78b  ...       21st Century Fox
1  5858c937-702e-c278-1725-2b5e02471482  ...  CK Hutchison Holdings
2  f09c1228-2e7d-1889-6647-ba5021b2e4ea  ...        CBS Corporation
3  91f5ca18-e026-9482-8e4f-22593943e0f5  ...                Comcast
4  fc89cfde-a28e-e12c-443c-edccb6c93fd4  ...                 Oracle

[5 rows x 10 columns]

In [ ]:
df_dict["investments"].head()

                                   uuid  ... is_lead_investor
0  524986f0-3049-54a4-fa72-f60897a5e61d  ...             True
1  6556ab92-6465-25aa-1ffc-7f8b4b09a476  ...             True
2  0216e06a-61f8-9cf1-19ba-20811229c53e  ...             True
3  dadd7d86-520d-5e35-3033-fc1d8792ab91  ...              NaN
4  581c4b38-9653-7117-9bd4-7ffe5c7eba69  ...             True

[5 rows x 14 columns]

In [ ]:
df_dict["investors"].head()

                                   uuid  ...                                           logo_url
0  bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7  ...  https://crunchbase-production-res.cloudinary.c...
1  f4d5ab44-058b-298b-ea81-380e6e9a8eec  ...  https://crunchbase-production-res.cloudinary.c...
2  df662812-7f97-0b43-9d3e-12f64f504fbb  ...  https://crunchbase-production-res.cloudinary.c...
3  a01b8d46-d311-3333-7c34-aa3ae9c03f22  ...  https://crunchbase-production-res.cloudinary.c...
4  084aaa07-0795-1fe8-9c46-98bbeb02cd64  ...  https://crunchbase-production-res.cloudinary.c...

[5 rows x 25 columns]

In [ ]:
df_dict["investment_partners"].head()

                                   uuid  ...  partner_name
0  524986f0-3049-54a4-fa72-f60897a5e61d  ...    Jim Breyer
1  524986f0-3049-54a4-fa72-f60897a5e61d  ...  Kevin Efrusy
2  6556ab92-6465-25aa-1ffc-7f8b4b09a476  ...     David Sze
3  0216e06a-61f8-9cf1-19ba-20811229c53e  ...   Paul Madera
4  dadd7d86-520d-5e35-3033-fc1d8792ab91  ...       Gus Tai

[5 rows x 14 columns]

In [ ]:
df_dict['funds'].head()

                                   uuid  ... raised_amount_currency_code
0  8190b28a-3c78-0ac4-1e7c-f0b5edce4b2e  ...                         USD
1  cbb6644a-eafb-4686-5505-61f32e1c3638  ...                         USD
2  19fa5c4f-23c3-8c03-2b37-bcd0334505c9  ...                         USD
3  e803081d-0974-eda7-ab5f-c0f1a0a432fe  ...                         USD
4  49a5722a-084c-3466-fd90-37e885c800b1  ...                         USD

[5 rows x 15 columns]

In [ ]:
# df_dict["ipos"].head()

In [ ]:
# df_dict["acquisitions"].head()

In [ ]:
# df_dict["category_groups"].head()

In [ ]:
# df_dict["events"].head()

In [ ]:
# timeline = pd.read_csv("/content/drive/My Drive/vc_modeling/data/timeline.csv")
# timeline.head(2)

                               org_uuid  ... has_succeeded
0  00000aa4-ba42-9b68-a9c3-040c9f3bf9b9  ...         False
1  00000aa4-ba42-9b68-a9c3-040c9f3bf9b9  ...         False

[2 rows x 6 columns]

# Create investor features

In [ ]:
df_dict.keys()

dict_keys(['funding_rounds', 'investors', 'investment_partners', 'organizations', 'org_parents', 'funds', 'investments'])

N unique investors

In [11]:
funding_rounds_cols = ['uuid', 'rank', 'investment_type', 'announced_on', 'raised_amount_usd', 
                       'post_money_valuation_usd', 'investor_count', 'org_uuid', 'lead_investor_uuids']

df_dict['funding_rounds']['lead_investor_uuids'] = df_dict['funding_rounds']['lead_investor_uuids'].str.split(",")
df_dict['funding_rounds'] = df_dict['funding_rounds'].explode('lead_investor_uuids')
funding_rounds_df = deepcopy(df_dict['funding_rounds'][funding_rounds_cols])
funding_rounds_df.rename({'uuid':'funding_round_uuid', 'lead_investor_uuids':'lead_investor_uuid'}, axis=1, inplace=True)

# late_rounds = ['series_' + x for x in 'c,d,e,f,g,h,i,j,unknown'.split(",")] + ['undisclosed']
# funding_rounds_df = funding_rounds_df[~funding_rounds_df['investment_type'].isin(late_rounds)]
# funding_rounds_df = pd.concat([funding_rounds_df, pd.get_dummies(funding_rounds_df['investment_type'])], axis=1)

funding_rounds_df.head(3)

                     funding_round_uuid  ...                    lead_investor_uuid
0  8a945939-18e0-cc9d-27b9-bf33817b2818  ...  3f47be49-2e32-8118-01a0-31685a4d0fd7
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...  b08efc27-da40-505a-6f9d-c9e14247bf36
2  6fae3958-a001-27c0-fb7e-666266aedd78  ...  e2006571-6b7a-e477-002a-f7014f48a7e3

[3 rows x 9 columns]

In [ ]:
df_dict['investments'].head(2)

                                   uuid  ... is_lead_investor
0  524986f0-3049-54a4-fa72-f60897a5e61d  ...             True
1  6556ab92-6465-25aa-1ffc-7f8b4b09a476  ...             True

[2 rows x 14 columns]

In [ ]:
df_dict['investments'].columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'funding_round_uuid', 'funding_round_name',
       'investor_uuid', 'investor_name', 'investor_type', 'is_lead_investor'],
      dtype='object')

In [12]:
investments_cols = ['funding_round_uuid', 'investor_uuid', 'is_lead_investor']

investments_df = df_dict['investments'][
  df_dict['investments']['investor_type'] == 'organization'][investments_cols]
investments_df['is_lead_investor'] *= 1.0

investments_df.head()

                     funding_round_uuid  ... is_lead_investor
0  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...                1
1  6fae3958-a001-27c0-fb7e-666266aedd78  ...                1
2  6fae3958-a001-27c0-fb7e-666266aedd78  ...                1
3  bcd5a63d-ed99-6963-0dd2-e36f6582f846  ...              NaN
4  60e6afd9-1215-465a-dd17-0ed600d4e29b  ...                1

[5 rows x 3 columns]

In [13]:
org_investors = funding_rounds_df[['funding_round_uuid', 'org_uuid']].merge(investments_df, on=['funding_round_uuid'])
org_investors.head(2)

                     funding_round_uuid  ... is_lead_investor
0  8a945939-18e0-cc9d-27b9-bf33817b2818  ...                0
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...                1

[2 rows x 4 columns]

In [ ]:
org_unique_investors = org_investors[['org_uuid', 'investor_uuid']].drop_duplicates()
org_unique_investors.head(2)

                               org_uuid                         investor_uuid
0  df662812-7f97-0b43-9d3e-12f64f504fbb  321aaefe-527e-a56e-85cd-641bd83cd866
1  df662812-7f97-0b43-9d3e-12f64f504fbb  b08efc27-da40-505a-6f9d-c9e14247bf36

In [ ]:
len(org_unique_investors) / len(org_investors)

0.7762647368599871

In [ ]:
n_unique_investors = org_unique_investors.groupby('org_uuid').count().reset_index().rename({'investor_uuid': "n_unique_investors"}, axis=1)
n_unique_investors.head(2)

                               org_uuid  n_unique_investors
0  00000aa4-ba42-9b68-a9c3-040c9f3bf9b9                   1
1  000014da-0c46-b9cb-0941-3a93c027b119                   9

In [ ]:
org_unique_primary_investors = org_investors[org_investors['is_lead_investor']==1][['org_uuid', 'investor_uuid']].drop_duplicates()
org_unique_primary_investors.head(2)

                               org_uuid                         investor_uuid
1  df662812-7f97-0b43-9d3e-12f64f504fbb  b08efc27-da40-505a-6f9d-c9e14247bf36
3  df662812-7f97-0b43-9d3e-12f64f504fbb  e2006571-6b7a-e477-002a-f7014f48a7e3

In [ ]:
len(org_unique_primary_investors) / len(org_investors[org_investors['is_lead_investor']==1])

0.9170569667582396

In [ ]:
n_unique_primary_investors = org_unique_primary_investors.groupby('org_uuid').count().reset_index().rename({'investor_uuid': "n_unique_primary_investors"}, axis=1)
org_unique_primary_investors.head(2)

                               org_uuid                         investor_uuid
1  df662812-7f97-0b43-9d3e-12f64f504fbb  b08efc27-da40-505a-6f9d-c9e14247bf36
3  df662812-7f97-0b43-9d3e-12f64f504fbb  e2006571-6b7a-e477-002a-f7014f48a7e3

In [ ]:
investor_count_df = n_unique_investors.merge(n_unique_primary_investors, on=['org_uuid'])
investor_count_df.head(2)

                               org_uuid  ...  n_unique_primary_investors
0  00000aa4-ba42-9b68-a9c3-040c9f3bf9b9  ...                           1
1  00002470-bff7-6226-5800-0ca1b3787b6f  ...                           2

[2 rows x 3 columns]

Lead investor characteristics

In [ ]:
lead_investors = org_investors[org_investors['is_lead_investor']==1]
lead_investors.head(2)

                     funding_round_uuid  ... is_lead_investor
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...                1
3  6fae3958-a001-27c0-fb7e-666266aedd78  ...                1

[2 rows x 4 columns]

In [ ]:
lead_investors.drop('is_lead_investor', axis=1, inplace=True)
lead_investors.head(2)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                     funding_round_uuid  ...                         investor_uuid
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...  b08efc27-da40-505a-6f9d-c9e14247bf36
3  6fae3958-a001-27c0-fb7e-666266aedd78  ...  e2006571-6b7a-e477-002a-f7014f48a7e3

[2 rows x 3 columns]

In [ ]:
df_dict['funds'].columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'entity_uuid', 'entity_name', 'entity_type',
       'announced_on', 'raised_amount_usd', 'raised_amount',
       'raised_amount_currency_code'],
      dtype='object')

In [ ]:
funds_df = df_dict['funds'][['entity_uuid', 'announced_on', 'raised_amount_usd']].rename(
    {'entity_uuid': 'investor_uuid', 'raised_amount_usd': 'fund_size_usd', 'announced_on': 'fund_announced_on'}, axis=1)
funds_df.head(2)

                          investor_uuid fund_announced_on  fund_size_usd
0  fe743289-a4aa-a470-00d8-bbe937e0955b        2008-12-16    300000000.0
1  0c867fde-2b9a-df10-fdb9-66b74f355f91        2008-12-17    200750000.0

In [ ]:
len(funds_df.investor_uuid.unique()) / len(funds_df)

0.4835271947494964

In [ ]:
total_fund_size = funds_df[['investor_uuid', 'fund_size_usd']].dropna().groupby('investor_uuid').sum().reset_index().rename(
    {'fund_size_usd': 'lead_investor_total_fund_size'}, axis=1)
total_fund_size.head(2)

                          investor_uuid  lead_investor_total_fund_size
0  0003f244-79d0-6178-353e-33dabaf3b2c6                    425000000.0
1  001968ce-46b3-3dc2-c34a-1dbd51b655e6                     89643890.0

In [ ]:
funds_df['fund_announce_date'] = pd.to_datetime(funds_df.fund_announced_on)
funds_df.head(2)

                          investor_uuid  ... fund_announce_date
0  fe743289-a4aa-a470-00d8-bbe937e0955b  ...         2008-12-16
1  0c867fde-2b9a-df10-fdb9-66b74f355f91  ...         2008-12-17

[2 rows x 4 columns]

In [ ]:
funds_dates = funds_df[['investor_uuid', 'fund_announce_date']].groupby('investor_uuid').min().reset_index().rename(
    {'fund_announce_date': 'lead_investor_first_fund_announce_date'}, axis=1)
funds_dates.head(2)

                          investor_uuid lead_investor_first_fund_announce_date
0  0003f244-79d0-6178-353e-33dabaf3b2c6                             2017-04-29
1  001968ce-46b3-3dc2-c34a-1dbd51b655e6                             2019-05-24

In [ ]:
lead_investor_features = total_fund_size.merge(funds_dates, on='investor_uuid')
lead_investor_features.head(2)

                          investor_uuid  ...  lead_investor_first_fund_announce_date
0  0003f244-79d0-6178-353e-33dabaf3b2c6  ...                              2017-04-29
1  001968ce-46b3-3dc2-c34a-1dbd51b655e6  ...                              2019-05-24

[2 rows x 3 columns]

In [ ]:
lead_investor_features = org_unique_primary_investors.merge(
    lead_investor_features, on='investor_uuid').rename({'investor_uuid': 'lead_investor_uuid'}, axis=1)
lead_investor_features.head(2)

                               org_uuid  ... lead_investor_first_fund_announce_date
0  df662812-7f97-0b43-9d3e-12f64f504fbb  ...                             2000-06-12
1  4c8d7754-50b1-a165-3dfe-a5d62877bbb6  ...                             2000-06-12

[2 rows x 4 columns]

Funding round attributes

In [ ]:
lead_investor_types = funding_rounds_df[['lead_investor_uuid', 'investment_type']]
lead_investor_types['count'] = 1
lead_investor_types = lead_investor_types.groupby(['lead_investor_uuid', 'investment_type']).sum().reset_index()
lead_investor_types.head(2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                     lead_investor_uuid   investment_type  count
0  0003f244-79d0-6178-353e-33dabaf3b2c6  convertible_note      2
1  0003f244-79d0-6178-353e-33dabaf3b2c6          pre_seed     66

In [ ]:
lead_investor_max_counts = lead_investor_types[['lead_investor_uuid', 'count']].groupby('lead_investor_uuid').max().reset_index()
lead_investor_primary_types = lead_investor_types.merge(lead_investor_max_counts, on=['lead_investor_uuid', 'count']).drop(
    'count', axis=1).rename({'investment_type': 'lead_investor_primary_investment_type'}, axis=1)
lead_investor_primary_types.head(2)

                     lead_investor_uuid lead_investor_primary_investment_type
0  0003f244-79d0-6178-353e-33dabaf3b2c6                              pre_seed
1  0012be53-1596-02da-be62-bb4e64ceda34                       post_ipo_equity

In [ ]:
# could expand to this if we want to
# lead_investor_type_counts = lead_investor_types.pivot(index='lead_investor_uuid', columns='investment_type', values='count').reset_index()
# lead_investor_type_counts.head(2)

investment_type                                 lead_investor_uuid  ...  undisclosed
0                             0003f244-79d0-6178-353e-33dabaf3b2c6  ...          NaN
1                0003f244-79d0-6178-353e-33dabaf3b2c6,0c867fde-...  ...          NaN

[2 rows x 29 columns]

In [ ]:
# TODO lead_investor_primary_investment_type == org investment primary type
funding_rounds_df = funding_rounds_df.merge(lead_investor_primary_types, on=['lead_investor_uuid'])
funding_rounds_df['lead_invested_at_primary_type'] = funding_rounds_df['investment_type'] == funding_rounds_df['lead_investor_primary_investment_type']
funding_rounds_df.head(2)

                     funding_round_uuid  ...  lead_invested_at_primary_type
0  8a945939-18e0-cc9d-27b9-bf33817b2818  ...                          False
1  8a945939-18e0-cc9d-27b9-bf33817b2818  ...                          False

[2 rows x 11 columns]

In [ ]:
primary_type_investment_df = funding_rounds_df[['org_uuid','lead_invested_at_primary_type']].groupby('org_uuid').count().reset_index()
primary_type_investment_df.head(2)

                               org_uuid  lead_invested_at_primary_type
0  00000aa4-ba42-9b68-a9c3-040c9f3bf9b9                              1
1  00002470-bff7-6226-5800-0ca1b3787b6f                              2

### Put all the features into one df

In [ ]:
all_investor_features = primary_type_investment_df.merge(
    lead_investor_features, on=['org_uuid']).merge(
    investor_count_df, on=['org_uuid']).drop('lead_investor_uuid', axis=1)
all_investor_features.head(2)

                               org_uuid  ...  n_unique_primary_investors
0  00000aa4-ba42-9b68-a9c3-040c9f3bf9b9  ...                           1
1  00002470-bff7-6226-5800-0ca1b3787b6f  ...                           2

[2 rows x 6 columns]

In [ ]:
all_investor_features.to_csv("/content/drive/My Drive/vc_modeling/data/investor_features.csv", index=False)

# Adapt investor features to regression problem

First get first investment date

In [8]:
funding_data = deepcopy(
    df_dict["funding_rounds"][['org_uuid', 'announced_on', 'post_money_valuation_usd']]).rename(
    columns={"announced_on": "date", "post_money_valuation_usd": "valuation"})
acquisitions_data = deepcopy(df_dict["acquisitions"][['acquiree_uuid', 'acquired_on', 'price_usd']]).rename(
    columns={"acquiree_uuid": "org_uuid", "acquired_on": "date", "price_usd": "valuation"})
ipos_data = deepcopy(df_dict["ipos"][['org_uuid', 'went_public_on', 'valuation_price_usd']]).rename(
    columns={"went_public_on": "date", "valuation_price_usd": "valuation"})

types = df_dict["acquisitions"][['type']].values
acquisition_types = df_dict["acquisitions"][['acquisition_type']].values
acquisitions_data['event'] = [types[x][0] if not isinstance(acquisition_types[x][0], str) 
                              else acquisition_types[x][0] for x in range(len(acquisitions_data))]
funding_data['event'] = pd.Series([x[0] for x in df_dict["funding_rounds"]['name'].str.split(" - ")])
ipos_data['event'] = df_dict['ipos']['stock_exchange_symbol']

timelines = pd.concat([funding_data, acquisitions_data, ipos_data])

# Normalize dates

timelines.sort_values(by=['org_uuid', 'date'], inplace=True)
timelines.reset_index(inplace=True, drop=True)
timelines = timelines[timelines['valuation'].notnull()]  # We only care about times at which there is a valuation of the company.
timelines.set_index(['org_uuid'])
grouped_timelines = timelines.groupby(['org_uuid'])
timeline_counts = grouped_timelines.count().reset_index()
orgs_with_2plus_vals = timeline_counts[timeline_counts['date']>1].org_uuid.unique()  # at least 2 valuations
timelines = timelines[timelines['org_uuid'].isin(orgs_with_2plus_vals)]

milli_per_day = 86400  # Used for converting Unix time

regression_df = pd.DataFrame()
for company_id in timelines.org_uuid.unique():
  timeline = grouped_timelines.get_group(company_id).copy()
  timeline.reset_index(inplace=True, drop=True)
  if timeline.empty:
    continue

  # print(timeline['date'])
  day_zero = datetime.datetime.strptime(timeline['date'].iloc[0], '%Y-%m-%d').timestamp()
  parsed_dates = pd.Series([datetime.datetime.strptime(x, '%Y-%m-%d').timestamp() for x in timeline['date']])
  norm_dates = (parsed_dates - day_zero)/milli_per_day
  timeline['norm_dates'] = norm_dates
  regression_df = regression_df.append(timeline)

regression_df.head(2)

                               org_uuid        date  ...        event norm_dates
0  0070da44-2860-2901-9ace-4c633fb657b2  1996-09-13  ...  acquisition        0.0
1  0070da44-2860-2901-9ace-4c633fb657b2  2014-11-13  ...  acquisition     6635.0

[2 rows x 5 columns]

In [9]:
org_launches = regression_df.groupby('org_uuid').min().reset_index()[['org_uuid', 'date']]
org_launch_dict = dict(zip(org_launches.org_uuid.values, org_launches.date.values))

Attach features to companies and dates

In [14]:
funding_rounds_df = deepcopy(df_dict['funding_rounds'][funding_rounds_cols])
funding_rounds_df.rename({'uuid':'funding_round_uuid', 'lead_investor_uuids':'lead_investor_uuid'}, axis=1, inplace=True)
org_investors = funding_rounds_df.merge(investments_df, on=['funding_round_uuid'])
org_investors.head(2)

                     funding_round_uuid  ...  is_lead_investor
0  8a945939-18e0-cc9d-27b9-bf33817b2818  ...                 0
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...                 1

[2 rows x 11 columns]

In [17]:
def get_org_investor_features(org_uuid, days_forward):

  org_launch_date = org_launch_dict[org_uuid]
  days_forward_date = arrow.get(org_launch_date).shift(days=days_forward).format('YYYY-MM-DD')
  existing_funds = df_dict['funds'][df_dict['funds']['announced_on'] <= days_forward_date]
  prior_investors = org_investors[(org_investors['announced_on'] <= days_forward_date)]
  
  ## lead investor characteristics
  lead_investors_df = prior_investors[prior_investors['is_lead_investor']==1]
  org_lead_investors = lead_investors_df[lead_investors_df['org_uuid'] == org_uuid].lead_investor_uuid.unique()
  if len(org_lead_investors) > 0:
    funds_df = existing_funds[existing_funds['entity_uuid'].isin(org_lead_investors)][['entity_uuid', 'announced_on', 'raised_amount_usd']].rename(
        {'entity_uuid': 'investor_uuid', 'raised_amount_usd': 'fund_size_usd', 'announced_on': 'fund_announced_on'}, axis=1)
    total_fund_size = funds_df[['investor_uuid', 'fund_size_usd']].dropna().groupby('investor_uuid').sum().reset_index().rename(
      {'fund_size_usd': 'lead_investor_total_fund_size'}, axis=1)
    funds_df['fund_announce_date'] = pd.to_datetime(funds_df.fund_announced_on)
    funds_dates = funds_df[['investor_uuid', 'fund_announce_date']].groupby('investor_uuid').min().reset_index().rename(
      {'fund_announce_date': 'lead_investor_first_fund_announce_date'}, axis=1)
    funds_df['fund_announce_date'] = pd.to_datetime(funds_df.fund_announced_on)
    funds_dates = funds_df[['investor_uuid', 'fund_announce_date']].groupby('investor_uuid').min().reset_index().rename(
      {'fund_announce_date': 'lead_investor_first_fund_announce_date'}, axis=1)  
    funds_dates['lead_investor_fund_age'] = pd.to_datetime(days_forward_date) - funds_dates['lead_investor_first_fund_announce_date']
    lead_investor_features = total_fund_size.merge(funds_dates, on='investor_uuid').rename({'investor_uuid': 'lead_investor_uuid'}, axis=1)
    lead_investor_features['org_uuid'] = org_uuid
    lead_investor_maxes = lead_investor_features.groupby('org_uuid').max()
    lead_investor_mins = lead_investor_features.groupby('org_uuid').min()
    lead_investor_means = lead_investor_features.groupby('org_uuid').mean()
    lead_investor_final_features = lead_investor_maxes.reset_index().drop(['lead_investor_uuid'], axis=1).merge(
        lead_investor_mins.reset_index().drop(['lead_investor_uuid'], axis=1), on='org_uuid', suffixes=('_max', '_min')).merge(
            lead_investor_means.reset_index(), on='org_uuid').rename({'lead_investor_total_fund_size': 'lead_investor_total_fund_size_mean'}, axis=1)
  else:
    lead_investor_final_features = pd.DataFrame(columns=['lead_investor_total_fund_size_max', 'lead_investor_first_fund_announce_date_max',
                                                        'lead_investor_fund_age_max', 'lead_investor_total_fund_size_min', 'lead_investor_first_fund_announce_date_min',
                                                        'lead_investor_fund_age_min', 'org_uuid', 'lead_investor_total_fund_size_mean'])

  ## counts
  org_unique_investors = prior_investors[['org_uuid', 'investor_uuid']].drop_duplicates()
  n_unique_investors = org_unique_investors.groupby('org_uuid').count().reset_index().rename({'investor_uuid': "n_unique_investors"}, axis=1)
  org_unique_lead_investors = lead_investors_df[['org_uuid', 'lead_investor_uuid']].drop_duplicates()
  n_unique_lead_investors = org_unique_lead_investors.groupby('org_uuid').count().reset_index().rename({'lead_investor_uuid': "n_unique_lead_investors"}, axis=1)
  investor_count_df = n_unique_investors.merge(n_unique_lead_investors, on=['org_uuid'])

  # primary investment type
  if len(org_lead_investors) > 0:
    lead_investors_df['count'] = 1
    lead_investor_types = lead_investors_df[['lead_investor_uuid', 'investment_type', 'count']].groupby(['lead_investor_uuid', 'investment_type']).sum().reset_index()
    lead_investor_max_counts = lead_investor_types[['lead_investor_uuid', 'count']].groupby('lead_investor_uuid').max().reset_index()
    lead_investor_primary_types = lead_investor_types.merge(lead_investor_max_counts, on=['lead_investor_uuid', 'count']).drop(
        'count', axis=1).rename({'investment_type': 'lead_investor_primary_investment_type'}, axis=1)
    full_funding_rounds_df = funding_rounds_df[funding_rounds_df['org_uuid']==org_uuid].merge(lead_investor_primary_types, on=['lead_investor_uuid'])
    full_funding_rounds_df['lead_invested_at_primary_type'] = full_funding_rounds_df['investment_type'] == full_funding_rounds_df['lead_investor_primary_investment_type']
    primary_type_investment_df = full_funding_rounds_df[['org_uuid','lead_invested_at_primary_type']].groupby('org_uuid').count().reset_index().merge(
        full_funding_rounds_df[['org_uuid','lead_invested_at_primary_type']].groupby('org_uuid').sum().reset_index(), on=['org_uuid'], suffixes=("_count", "_sum")
    )
    primary_type_investment_df['pct_leads_invested_at_primary_type'] = primary_type_investment_df['lead_invested_at_primary_type_sum'] / primary_type_investment_df['lead_invested_at_primary_type_count']
    primary_type_investment_df = primary_type_investment_df[['org_uuid', 'pct_leads_invested_at_primary_type']]
  else:
    primary_type_investment_df = pd.DataFrame(columns=['org_uuid', 'pct_leads_invested_at_primary_type'])

  # combine
  all_investor_features = primary_type_investment_df.merge(
      lead_investor_final_features, on=['org_uuid']).merge(
      investor_count_df, on=['org_uuid'])
  
  return all_investor_features

In [18]:
org_uuid = 'df662812-7f97-0b43-9d3e-12f64f504fbb'  # facebook
get_org_investor_features(org_uuid, 200)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                               org_uuid  ...  n_unique_lead_investors
0  df662812-7f97-0b43-9d3e-12f64f504fbb  ...                        1

[1 rows x 11 columns]

In [22]:
DAYS_FORWARD_OPTIONS = [200, 500, 1000, 2000]

features_by_days_forward = pd.DataFrame()

for org_uuid in regression_df.org_uuid.unique():
  for days_forward in DAYS_FORWARD_OPTIONS:
    org_features = get_org_investor_features(org_uuid, days_forward)
    org_features['org_uuid'] = org_uuid
    org_features['days_forward'] = days_forward
    features_by_days_forward = features_by_days_forward.append(org_features)

features_by_days_forward.to_csv("/content/drive/My Drive/vc_modeling/data/investor_features_for_regression.csv", index=False)
features_by_days_forward.head(10)

   pct_leads_invested_at_primary_type  ...  days_forward
0                                1.00  ...          2000
0                                1.00  ...          2000
0                                1.00  ...          2000
0                                0.75  ...           200
0                                0.75  ...           500
0                                0.75  ...          1000
0                                0.75  ...          2000
0                                1.00  ...          1000
0                                1.00  ...          2000
0                                0.20  ...          1000

[10 rows x 12 columns]