<a href="https://colab.research.google.com/github/siddtheshah/vc_modeling/blob/master/create_investor_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip3 install arrow

import os
import arrow
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from copy import deepcopy

Collecting arrow
  Downloading https://files.pythonhosted.org/packages/40/2a/9dd6a391e7813b9908b4dcaec7df0f2d365cfc0f071799f2ae5147707923/arrow-0.15.8-py2.py3-none-any.whl (49kB)
     |████████████████████████████████| 51kB 2.9MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from arrow) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil->arrow) (1.15.0)
Installing collected packages: arrow
Successfully installed arrow-0.15.8

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
os.listdir('/content/drive/My Drive/vc_modeling')

In [ ]:
file_names = os.listdir("/content/drive/My Drive/vc_modeling/data/crunchbase_bulk_export/")
print(file_names)

['category_groups.csv', 'funding_rounds.csv', 'people.csv', 'checksum.csv', 'people_descriptions.csv', 'investors.csv', 'organization_descriptions.csv', 'investment_partners.csv', 'event_appearances.csv', 'organizations.csv', 'org_parents.csv', 'jobs.csv', 'acquisitions.csv', 'funds.csv', 'ipos.csv', 'degrees.csv', 'investments.csv', 'events.csv']

In [ ]:
# use_files = ['category_groups.csv', 'funding_rounds.csv', 'people.csv', 'checksum.csv', 'people_descriptions.csv', 'investors.csv', 'organization_descriptions.csv', 'investment_partners.csv', 'event_appearances.csv', 'organizations.csv', 'org_parents.csv', 'jobs.csv', 'acquisitions.csv', 'funds.csv', 'ipos.csv', 'degrees.csv', 'investments.csv', 'events.csv']
use_files = ['funding_rounds.csv', 'investors.csv', 'investment_partners.csv', 'organizations.csv', 'org_parents.csv', 'funds.csv', 'investments.csv', 'acquisitions.csv', 'ipos.csv']

In [ ]:
df_names = [x[:-4] for x in use_files]
print(df_names)

['funding_rounds', 'investors', 'investment_partners', 'organizations', 'org_parents', 'funds', 'investments', 'acquisitions', 'ipos']

In [ ]:
dfs = [pd.read_csv("/content/drive/My Drive/vc_modeling/data/crunchbase_bulk_export/"+x) for x in use_files]
df_dict = dict(zip(df_names, dfs))
print(df_dict.keys())

dict_keys(['funding_rounds', 'investors', 'investment_partners', 'organizations', 'org_parents', 'funds', 'investments', 'acquisitions', 'ipos'])

## Look at key dfs

In [ ]:
df_dict["funding_rounds"].head()

                                   uuid  ...                                lead_investor_uuids
0  8a945939-18e0-cc9d-27b9-bf33817b2818  ...               3f47be49-2e32-8118-01a0-31685a4d0fd7
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...               b08efc27-da40-505a-6f9d-c9e14247bf36
2  6fae3958-a001-27c0-fb7e-666266aedd78  ...  e2006571-6b7a-e477-002a-f7014f48a7e3,8d5c7e48-...
3  bcd5a63d-ed99-6963-0dd2-e36f6582f846  ...                                                NaN
4  60e6afd9-1215-465a-dd17-0ed600d4e29b  ...               fb2f8884-ec07-895a-48d7-d9a9d4d7175c

[5 rows x 24 columns]

In [ ]:
df_dict["organizations"].head()

                                   uuid  ... num_exits
0  e1393508-30ea-8a36-3f96-dd3226033abd  ...       NaN
1  bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7  ...       1.0
2  5f2b40b8-d1b3-d323-d81a-b7a8e89553d0  ...       NaN
3  f4d5ab44-058b-298b-ea81-380e6e9a8eec  ...      33.0
4  df662812-7f97-0b43-9d3e-12f64f504fbb  ...       NaN

[5 rows x 41 columns]

In [ ]:
df_dict['org_parents'].head()

                                   uuid  ...            parent_name
0  d70777cc-14bd-2416-0692-5a483781b78b  ...       21st Century Fox
1  5858c937-702e-c278-1725-2b5e02471482  ...  CK Hutchison Holdings
2  f09c1228-2e7d-1889-6647-ba5021b2e4ea  ...        CBS Corporation
3  91f5ca18-e026-9482-8e4f-22593943e0f5  ...                Comcast
4  fc89cfde-a28e-e12c-443c-edccb6c93fd4  ...                 Oracle

[5 rows x 10 columns]

In [ ]:
df_dict["investments"].head()

                                   uuid  ... is_lead_investor
0  524986f0-3049-54a4-fa72-f60897a5e61d  ...             True
1  6556ab92-6465-25aa-1ffc-7f8b4b09a476  ...             True
2  0216e06a-61f8-9cf1-19ba-20811229c53e  ...             True
3  dadd7d86-520d-5e35-3033-fc1d8792ab91  ...              NaN
4  581c4b38-9653-7117-9bd4-7ffe5c7eba69  ...             True

[5 rows x 14 columns]

In [ ]:
df_dict["investors"].head()

                                   uuid  ...                                           logo_url
0  bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7  ...  https://crunchbase-production-res.cloudinary.c...
1  f4d5ab44-058b-298b-ea81-380e6e9a8eec  ...  https://crunchbase-production-res.cloudinary.c...
2  df662812-7f97-0b43-9d3e-12f64f504fbb  ...  https://crunchbase-production-res.cloudinary.c...
3  a01b8d46-d311-3333-7c34-aa3ae9c03f22  ...  https://crunchbase-production-res.cloudinary.c...
4  084aaa07-0795-1fe8-9c46-98bbeb02cd64  ...  https://crunchbase-production-res.cloudinary.c...

[5 rows x 25 columns]

In [ ]:
df_dict["investment_partners"].head()

                                   uuid  ...  partner_name
0  524986f0-3049-54a4-fa72-f60897a5e61d  ...    Jim Breyer
1  524986f0-3049-54a4-fa72-f60897a5e61d  ...  Kevin Efrusy
2  6556ab92-6465-25aa-1ffc-7f8b4b09a476  ...     David Sze
3  0216e06a-61f8-9cf1-19ba-20811229c53e  ...   Paul Madera
4  dadd7d86-520d-5e35-3033-fc1d8792ab91  ...       Gus Tai

[5 rows x 14 columns]

In [ ]:
df_dict['funds'].head()

                                   uuid  ... raised_amount_currency_code
0  8190b28a-3c78-0ac4-1e7c-f0b5edce4b2e  ...                         USD
1  cbb6644a-eafb-4686-5505-61f32e1c3638  ...                         USD
2  19fa5c4f-23c3-8c03-2b37-bcd0334505c9  ...                         USD
3  e803081d-0974-eda7-ab5f-c0f1a0a432fe  ...                         USD
4  49a5722a-084c-3466-fd90-37e885c800b1  ...                         USD

[5 rows x 15 columns]

In [ ]:
# df_dict["ipos"].head()

In [ ]:
# df_dict["acquisitions"].head()

In [ ]:
# df_dict["category_groups"].head()

In [ ]:
# df_dict["events"].head()

In [ ]:
# timeline = pd.read_csv("/content/drive/My Drive/vc_modeling/data/timeline.csv")
# timeline.head(2)

                               org_uuid  ... has_succeeded
0  00000aa4-ba42-9b68-a9c3-040c9f3bf9b9  ...         False
1  00000aa4-ba42-9b68-a9c3-040c9f3bf9b9  ...         False

[2 rows x 6 columns]

# Create investor features

In [ ]:
df_dict.keys()

dict_keys(['funding_rounds', 'investors', 'investment_partners', 'organizations', 'org_parents', 'funds', 'investments'])

N unique investors

In [ ]:
funding_rounds_cols = ['uuid', 'rank', 'investment_type', 'announced_on', 'raised_amount_usd', 
                       'post_money_valuation_usd', 'investor_count', 'org_uuid', 'lead_investor_uuids']

df_dict['funding_rounds']['lead_investor_uuids'] = df_dict['funding_rounds']['lead_investor_uuids'].str.split(",")
df_dict['funding_rounds'] = df_dict['funding_rounds'].explode('lead_investor_uuids')
funding_rounds_df = deepcopy(df_dict['funding_rounds'][funding_rounds_cols])
funding_rounds_df.rename({'uuid':'funding_round_uuid', 'lead_investor_uuids':'lead_investor_uuid'}, axis=1, inplace=True)

# late_rounds = ['series_' + x for x in 'c,d,e,f,g,h,i,j,unknown'.split(",")] + ['undisclosed']
# funding_rounds_df = funding_rounds_df[~funding_rounds_df['investment_type'].isin(late_rounds)]
# funding_rounds_df = pd.concat([funding_rounds_df, pd.get_dummies(funding_rounds_df['investment_type'])], axis=1)

funding_rounds_df.head(3)

                     funding_round_uuid  ...                    lead_investor_uuid
0  8a945939-18e0-cc9d-27b9-bf33817b2818  ...  3f47be49-2e32-8118-01a0-31685a4d0fd7
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...  b08efc27-da40-505a-6f9d-c9e14247bf36
2  6fae3958-a001-27c0-fb7e-666266aedd78  ...  e2006571-6b7a-e477-002a-f7014f48a7e3

[3 rows x 9 columns]

In [ ]:
df_dict['investments'].head(2)

                                   uuid  ... is_lead_investor
0  524986f0-3049-54a4-fa72-f60897a5e61d  ...             True
1  6556ab92-6465-25aa-1ffc-7f8b4b09a476  ...             True

[2 rows x 14 columns]

In [ ]:
df_dict['investments'].columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'funding_round_uuid', 'funding_round_name',
       'investor_uuid', 'investor_name', 'investor_type', 'is_lead_investor'],
      dtype='object')

In [ ]:
investments_cols = ['funding_round_uuid', 'investor_uuid', 'is_lead_investor']

investments_df = df_dict['investments'][
  df_dict['investments']['investor_type'] == 'organization'][investments_cols]
investments_df['is_lead_investor'] *= 1.0

investments_df.head()

                     funding_round_uuid  ... is_lead_investor
0  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...                1
1  6fae3958-a001-27c0-fb7e-666266aedd78  ...                1
2  6fae3958-a001-27c0-fb7e-666266aedd78  ...                1
3  bcd5a63d-ed99-6963-0dd2-e36f6582f846  ...              NaN
4  60e6afd9-1215-465a-dd17-0ed600d4e29b  ...                1

[5 rows x 3 columns]

In [ ]:
org_investors = funding_rounds_df[['funding_round_uuid', 'org_uuid']].merge(investments_df, on=['funding_round_uuid'])
org_investors.head(2)

                     funding_round_uuid  ... is_lead_investor
0  8a945939-18e0-cc9d-27b9-bf33817b2818  ...                0
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...                1

[2 rows x 4 columns]

In [ ]:
org_unique_investors = org_investors[['org_uuid', 'investor_uuid']].drop_duplicates()
org_unique_investors.head(2)

                               org_uuid                         investor_uuid
0  df662812-7f97-0b43-9d3e-12f64f504fbb  321aaefe-527e-a56e-85cd-641bd83cd866
1  df662812-7f97-0b43-9d3e-12f64f504fbb  b08efc27-da40-505a-6f9d-c9e14247bf36

In [ ]:
len(org_unique_investors) / len(org_investors)

0.7762647368599871

In [ ]:
n_unique_investors = org_unique_investors.groupby('org_uuid').count().reset_index().rename({'investor_uuid': "n_unique_investors"}, axis=1)
n_unique_investors.head(2)

                               org_uuid  n_unique_investors
0  00000aa4-ba42-9b68-a9c3-040c9f3bf9b9                   1
1  000014da-0c46-b9cb-0941-3a93c027b119                   9

In [ ]:
org_unique_primary_investors = org_investors[org_investors['is_lead_investor']==1][['org_uuid', 'investor_uuid']].drop_duplicates()
org_unique_primary_investors.head(2)

                               org_uuid                         investor_uuid
1  df662812-7f97-0b43-9d3e-12f64f504fbb  b08efc27-da40-505a-6f9d-c9e14247bf36
3  df662812-7f97-0b43-9d3e-12f64f504fbb  e2006571-6b7a-e477-002a-f7014f48a7e3

In [ ]:
len(org_unique_primary_investors) / len(org_investors[org_investors['is_lead_investor']==1])

0.9170569667582396

In [ ]:
n_unique_primary_investors = org_unique_primary_investors.groupby('org_uuid').count().reset_index().rename({'investor_uuid': "n_unique_primary_investors"}, axis=1)
org_unique_primary_investors.head(2)

                               org_uuid                         investor_uuid
1  df662812-7f97-0b43-9d3e-12f64f504fbb  b08efc27-da40-505a-6f9d-c9e14247bf36
3  df662812-7f97-0b43-9d3e-12f64f504fbb  e2006571-6b7a-e477-002a-f7014f48a7e3

In [ ]:
investor_count_df = n_unique_investors.merge(n_unique_primary_investors, on=['org_uuid'])
investor_count_df.head(2)

                               org_uuid  ...  n_unique_primary_investors
0  00000aa4-ba42-9b68-a9c3-040c9f3bf9b9  ...                           1
1  00002470-bff7-6226-5800-0ca1b3787b6f  ...                           2

[2 rows x 3 columns]

Lead investor characteristics

In [ ]:
lead_investors = org_investors[org_investors['is_lead_investor']==1]
lead_investors.head(2)

                     funding_round_uuid  ... is_lead_investor
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...                1
3  6fae3958-a001-27c0-fb7e-666266aedd78  ...                1

[2 rows x 4 columns]

In [ ]:
lead_investors.drop('is_lead_investor', axis=1, inplace=True)
lead_investors.head(2)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                     funding_round_uuid  ...                         investor_uuid
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...  b08efc27-da40-505a-6f9d-c9e14247bf36
3  6fae3958-a001-27c0-fb7e-666266aedd78  ...  e2006571-6b7a-e477-002a-f7014f48a7e3

[2 rows x 3 columns]

In [ ]:
df_dict['funds'].columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'entity_uuid', 'entity_name', 'entity_type',
       'announced_on', 'raised_amount_usd', 'raised_amount',
       'raised_amount_currency_code'],
      dtype='object')

In [ ]:
funds_df = df_dict['funds'][['entity_uuid', 'announced_on', 'raised_amount_usd']].rename(
    {'entity_uuid': 'investor_uuid', 'raised_amount_usd': 'fund_size_usd', 'announced_on': 'fund_announced_on'}, axis=1)
funds_df.head(2)

                          investor_uuid fund_announced_on  fund_size_usd
0  fe743289-a4aa-a470-00d8-bbe937e0955b        2008-12-16    300000000.0
1  0c867fde-2b9a-df10-fdb9-66b74f355f91        2008-12-17    200750000.0

In [ ]:
len(funds_df.investor_uuid.unique()) / len(funds_df)

0.4835271947494964

In [ ]:
total_fund_size = funds_df[['investor_uuid', 'fund_size_usd']].dropna().groupby('investor_uuid').sum().reset_index().rename(
    {'fund_size_usd': 'lead_investor_total_fund_size'}, axis=1)
total_fund_size.head(2)

                          investor_uuid  lead_investor_total_fund_size
0  0003f244-79d0-6178-353e-33dabaf3b2c6                    425000000.0
1  001968ce-46b3-3dc2-c34a-1dbd51b655e6                     89643890.0

In [ ]:
funds_df['fund_announce_date'] = pd.to_datetime(funds_df.fund_announced_on)
funds_df.head(2)

                          investor_uuid  ... fund_announce_date
0  fe743289-a4aa-a470-00d8-bbe937e0955b  ...         2008-12-16
1  0c867fde-2b9a-df10-fdb9-66b74f355f91  ...         2008-12-17

[2 rows x 4 columns]

In [ ]:
funds_dates = funds_df[['investor_uuid', 'fund_announce_date']].groupby('investor_uuid').min().reset_index().rename(
    {'fund_announce_date': 'lead_investor_first_fund_announce_date'}, axis=1)
funds_dates.head(2)

                          investor_uuid lead_investor_first_fund_announce_date
0  0003f244-79d0-6178-353e-33dabaf3b2c6                             2017-04-29
1  001968ce-46b3-3dc2-c34a-1dbd51b655e6                             2019-05-24

In [ ]:
lead_investor_features = total_fund_size.merge(funds_dates, on='investor_uuid')
lead_investor_features.head(2)

                          investor_uuid  ...  lead_investor_first_fund_announce_date
0  0003f244-79d0-6178-353e-33dabaf3b2c6  ...                              2017-04-29
1  001968ce-46b3-3dc2-c34a-1dbd51b655e6  ...                              2019-05-24

[2 rows x 3 columns]

In [ ]:
lead_investor_features = org_unique_primary_investors.merge(
    lead_investor_features, on='investor_uuid').rename({'investor_uuid': 'lead_investor_uuid'}, axis=1)
lead_investor_features.head(2)

                               org_uuid  ... lead_investor_first_fund_announce_date
0  df662812-7f97-0b43-9d3e-12f64f504fbb  ...                             2000-06-12
1  4c8d7754-50b1-a165-3dfe-a5d62877bbb6  ...                             2000-06-12

[2 rows x 4 columns]

Funding round attributes

In [ ]:
lead_investor_types = funding_rounds_df[['lead_investor_uuid', 'investment_type']]
lead_investor_types['count'] = 1
lead_investor_types = lead_investor_types.groupby(['lead_investor_uuid', 'investment_type']).sum().reset_index()
lead_investor_types.head(2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                     lead_investor_uuid   investment_type  count
0  0003f244-79d0-6178-353e-33dabaf3b2c6  convertible_note      2
1  0003f244-79d0-6178-353e-33dabaf3b2c6          pre_seed     66

In [ ]:
lead_investor_max_counts = lead_investor_types[['lead_investor_uuid', 'count']].groupby('lead_investor_uuid').max().reset_index()
lead_investor_primary_types = lead_investor_types.merge(lead_investor_max_counts, on=['lead_investor_uuid', 'count']).drop(
    'count', axis=1).rename({'investment_type': 'lead_investor_primary_investment_type'}, axis=1)
lead_investor_primary_types.head(2)

                     lead_investor_uuid lead_investor_primary_investment_type
0  0003f244-79d0-6178-353e-33dabaf3b2c6                              pre_seed
1  0012be53-1596-02da-be62-bb4e64ceda34                       post_ipo_equity

In [ ]:
# could expand to this if we want to
# lead_investor_type_counts = lead_investor_types.pivot(index='lead_investor_uuid', columns='investment_type', values='count').reset_index()
# lead_investor_type_counts.head(2)

investment_type                                 lead_investor_uuid  ...  undisclosed
0                             0003f244-79d0-6178-353e-33dabaf3b2c6  ...          NaN
1                0003f244-79d0-6178-353e-33dabaf3b2c6,0c867fde-...  ...          NaN

[2 rows x 29 columns]

In [ ]:
# TODO lead_investor_primary_investment_type == org investment primary type
funding_rounds_df = funding_rounds_df.merge(lead_investor_primary_types, on=['lead_investor_uuid'])
funding_rounds_df['lead_invested_at_primary_type'] = funding_rounds_df['investment_type'] == funding_rounds_df['lead_investor_primary_investment_type']
funding_rounds_df.head(2)

                     funding_round_uuid  ...  lead_invested_at_primary_type
0  8a945939-18e0-cc9d-27b9-bf33817b2818  ...                          False
1  8a945939-18e0-cc9d-27b9-bf33817b2818  ...                          False

[2 rows x 11 columns]

In [ ]:
primary_type_investment_df = funding_rounds_df[['org_uuid','lead_invested_at_primary_type']].groupby('org_uuid').count().reset_index()
primary_type_investment_df.head(2)

                               org_uuid  lead_invested_at_primary_type
0  00000aa4-ba42-9b68-a9c3-040c9f3bf9b9                              1
1  00002470-bff7-6226-5800-0ca1b3787b6f                              2

### Put all the features into one df

In [ ]:
all_investor_features = primary_type_investment_df.merge(
    lead_investor_features, on=['org_uuid']).merge(
    investor_count_df, on=['org_uuid']).drop('lead_investor_uuid', axis=1)
all_investor_features.head(2)

                               org_uuid  ...  n_unique_primary_investors
0  00000aa4-ba42-9b68-a9c3-040c9f3bf9b9  ...                           1
1  00002470-bff7-6226-5800-0ca1b3787b6f  ...                           2

[2 rows x 6 columns]

In [ ]:
all_investor_features.to_csv("/content/drive/My Drive/vc_modeling/data/investor_features.csv", index=False)

# Adapt investor features to regression problem

First get first investment date

In [ ]:
import datetime

funding_data = deepcopy(
    df_dict["funding_rounds"][['org_uuid', 'announced_on', 'post_money_valuation_usd']]).rename(
    columns={"announced_on": "date", "post_money_valuation_usd": "valuation"})
acquisitions_data = deepcopy(df_dict["acquisitions"][['acquiree_uuid', 'acquired_on', 'price_usd']]).rename(
    columns={"acquiree_uuid": "org_uuid", "acquired_on": "date", "price_usd": "valuation"})
ipos_data = deepcopy(df_dict["ipos"][['org_uuid', 'went_public_on', 'valuation_price_usd']]).rename(
    columns={"went_public_on": "date", "valuation_price_usd": "valuation"})

types = df_dict["acquisitions"][['type']].values
acquisition_types = df_dict["acquisitions"][['acquisition_type']].values
acquisitions_data['event'] = [types[x][0] if not isinstance(acquisition_types[x][0], str) 
                              else acquisition_types[x][0] for x in range(len(acquisitions_data))]
funding_data['event'] = pd.Series([x[0] for x in df_dict["funding_rounds"]['name'].str.split(" - ")])
ipos_data['event'] = df_dict['ipos']['stock_exchange_symbol']

timelines = pd.concat([funding_data, acquisitions_data, ipos_data])

# Normalize dates

timelines.sort_values(by=['org_uuid', 'date'], inplace=True)
timelines.reset_index(inplace=True, drop=True)
timelines = timelines[timelines['valuation'].notnull()]  # We only care about times at which there is a valuation of the company.
timelines.set_index(['org_uuid'])
grouped_timelines = timelines.groupby(['org_uuid'])
timeline_counts = grouped_timelines.count().reset_index()
orgs_with_2plus_vals = timeline_counts[timeline_counts['date']>1].org_uuid.unique()  # at least 2 valuations
timelines = timelines[timelines['org_uuid'].isin(orgs_with_2plus_vals)]

milli_per_day = 86400  # Used for converting Unix time

regression_df = pd.DataFrame()
for company_id in timelines.org_uuid.unique():
  timeline = grouped_timelines.get_group(company_id).copy()
  timeline.reset_index(inplace=True, drop=True)
  if timeline.empty:
    continue

  # print(timeline['date'])
  day_zero = datetime.datetime.strptime(timeline['date'].iloc[0], '%Y-%m-%d').timestamp()
  parsed_dates = pd.Series([datetime.datetime.strptime(x, '%Y-%m-%d').timestamp() for x in timeline['date']])
  norm_dates = (parsed_dates - day_zero)/milli_per_day
  timeline['norm_dates'] = norm_dates
  regression_df = regression_df.append(timeline)

regression_df.head(2)

                               org_uuid        date  ...        event norm_dates
0  0070da44-2860-2901-9ace-4c633fb657b2  1996-09-13  ...  acquisition        0.0
1  0070da44-2860-2901-9ace-4c633fb657b2  2014-11-13  ...  acquisition     6635.0

[2 rows x 5 columns]

In [ ]:
org_launches = regression_df.groupby('org_uuid').min().reset_index()[['org_uuid', 'date']]
org_launch_dict = dict(zip(org_launches.org_uuid.values, org_launches.date.values))

Attach features to companies and dates

In [ ]:
funding_rounds_df = deepcopy(df_dict['funding_rounds'][funding_rounds_cols])
funding_rounds_df.rename({'uuid':'funding_round_uuid', 'lead_investor_uuids':'lead_investor_uuid'}, axis=1, inplace=True)
org_investors = funding_rounds_df.merge(investments_df, on=['funding_round_uuid'])
org_investors.head(2)

                     funding_round_uuid  ...  is_lead_investor
0  8a945939-18e0-cc9d-27b9-bf33817b2818  ...                 0
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...                 1

[2 rows x 11 columns]

In [ ]:
def get_org_investor_features(org_uuid, days_forward):

  org_launch_date = org_launch_dict[org_uuid]
  days_forward_date = arrow.get(org_launch_date).shift(days=days_forward).format('YYYY-MM-DD')
  existing_funds = df_dict['funds'][df_dict['funds']['announced_on'] <= days_forward_date]
  prior_investors = org_investors[(org_investors['announced_on'] <= days_forward_date)]
  
  ## lead investor characteristics
  lead_investors_df = prior_investors[prior_investors['is_lead_investor']==1]
  org_lead_investors = lead_investors_df[lead_investors_df['org_uuid'] == org_uuid].lead_investor_uuid.unique()
  if len(org_lead_investors) > 0:
    funds_df = existing_funds[existing_funds['entity_uuid'].isin(org_lead_investors)][['entity_uuid', 'announced_on', 'raised_amount_usd']].rename(
        {'entity_uuid': 'investor_uuid', 'raised_amount_usd': 'fund_size_usd', 'announced_on': 'fund_announced_on'}, axis=1)
    total_fund_size = funds_df[['investor_uuid', 'fund_size_usd']].dropna().groupby('investor_uuid').sum().reset_index().rename(
      {'fund_size_usd': 'lead_investor_total_fund_size'}, axis=1)
    funds_df['fund_announce_date'] = pd.to_datetime(funds_df.fund_announced_on)
    funds_dates = funds_df[['investor_uuid', 'fund_announce_date']].groupby('investor_uuid').min().reset_index().rename(
      {'fund_announce_date': 'lead_investor_first_fund_announce_date'}, axis=1)
    funds_df['fund_announce_date'] = pd.to_datetime(funds_df.fund_announced_on)
    funds_dates = funds_df[['investor_uuid', 'fund_announce_date']].groupby('investor_uuid').min().reset_index().rename(
      {'fund_announce_date': 'lead_investor_first_fund_announce_date'}, axis=1)  
    funds_dates['lead_investor_fund_age'] = pd.to_datetime(days_forward_date) - funds_dates['lead_investor_first_fund_announce_date']
    lead_investor_features = total_fund_size.merge(funds_dates, on='investor_uuid').rename({'investor_uuid': 'lead_investor_uuid'}, axis=1)
    lead_investor_features['org_uuid'] = org_uuid
    lead_investor_maxes = lead_investor_features.groupby('org_uuid').max()
    lead_investor_mins = lead_investor_features.groupby('org_uuid').min()
    lead_investor_means = lead_investor_features.groupby('org_uuid').mean()
    lead_investor_final_features = lead_investor_maxes.reset_index().drop(['lead_investor_uuid'], axis=1).merge(
        lead_investor_mins.reset_index().drop(['lead_investor_uuid'], axis=1), on='org_uuid', suffixes=('_max', '_min')).merge(
            lead_investor_means.reset_index(), on='org_uuid').rename({'lead_investor_total_fund_size': 'lead_investor_total_fund_size_mean'}, axis=1)
  else:
    lead_investor_final_features = pd.DataFrame(columns=['lead_investor_total_fund_size_max', 'lead_investor_first_fund_announce_date_max',
                                                        'lead_investor_fund_age_max', 'lead_investor_total_fund_size_min', 'lead_investor_first_fund_announce_date_min',
                                                        'lead_investor_fund_age_min', 'org_uuid', 'lead_investor_total_fund_size_mean'])

  ## counts
  org_unique_investors = org_prior_investors[['org_uuid', 'investor_uuid']].drop_duplicates()
  n_unique_investors = org_unique_investors.groupby('org_uuid').count().reset_index().rename({'investor_uuid': "n_unique_investors"}, axis=1)
  org_unique_lead_investors = lead_investors_df[['org_uuid', 'lead_investor_uuid']].drop_duplicates()
  n_unique_lead_investors = org_unique_lead_investors.groupby('org_uuid').count().reset_index().rename({'lead_investor_uuid': "n_unique_lead_investors"}, axis=1)
  investor_count_df = n_unique_investors.merge(n_unique_lead_investors, on=['org_uuid'])

  # primary investment type
  if len(org_lead_investors) > 0:
    lead_investors_df['count'] = 1
    lead_investor_types = lead_investors_df[['lead_investor_uuid', 'investment_type', 'count']].groupby(['lead_investor_uuid', 'investment_type']).sum().reset_index()
    lead_investor_max_counts = lead_investor_types[['lead_investor_uuid', 'count']].groupby('lead_investor_uuid').max().reset_index()
    lead_investor_primary_types = lead_investor_types.merge(lead_investor_max_counts, on=['lead_investor_uuid', 'count']).drop(
        'count', axis=1).rename({'investment_type': 'lead_investor_primary_investment_type'}, axis=1)
    full_funding_rounds_df = funding_rounds_df[funding_rounds_df['org_uuid']==org_uuid].merge(lead_investor_primary_types, on=['lead_investor_uuid'])
    full_funding_rounds_df['lead_invested_at_primary_type'] = full_funding_rounds_df['investment_type'] == full_funding_rounds_df['lead_investor_primary_investment_type']
    primary_type_investment_df = full_funding_rounds_df[['org_uuid','lead_invested_at_primary_type']].groupby('org_uuid').count().reset_index().merge(
        full_funding_rounds_df[['org_uuid','lead_invested_at_primary_type']].groupby('org_uuid').sum().reset_index(), on=['org_uuid'], suffixes=("_count", "_sum")
    )
    primary_type_investment_df['pct_leads_invested_at_primary_type'] = primary_type_investment_df['lead_invested_at_primary_type_sum'] / primary_type_investment_df['lead_invested_at_primary_type_count']
    primary_type_investment_df = primary_type_investment_df[['org_uuid', 'pct_leads_invested_at_primary_type']]
  else:
    primary_type_investment_df = pd.DataFrame(columns=['org_uuid', 'pct_leads_invested_at_primary_type'])

  # combine
  all_investor_features = primary_type_investment_df.merge(
      lead_investor_final_features, on=['org_uuid']).merge(
      investor_count_df, on=['org_uuid'])
  
  return all_investor_features

In [ ]:
org_uuid = 'df662812-7f97-0b43-9d3e-12f64f504fbb'  # facebook
get_org_investor_features(org_uuid, 200)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                               org_uuid  ...  n_unique_lead_investors
0  df662812-7f97-0b43-9d3e-12f64f504fbb  ...                        1

[1 rows x 11 columns]

In [ ]:
DAYS_FORWARD_OPTIONS = [200, 500, 1000, 2000]

features_by_days_forward = pd.DataFrame()

i=0
for org_uuid in regression_df.org_uuid.unique():
  i+=1
  print(i)
  for days_forward in DAYS_FORWARD_OPTIONS:
    print(days_forward)
    org_features = get_org_investor_features(org_uuid, days_forward)
    org_features['org_uuid'] = org_uuid
    org_features['days_forward'] = days_forward
    features_by_days_forward = features_by_days_forward.append(org_features)

features_by_days_forward.to_csv("investor_features_for_regression.csv", index=False)
features_by_days_forward.head(10)

1
200
500
1000
2000
2
200
500

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Streaming output truncated to the last 5000 lines.
200
500
1000
2000
3258
200
500
1000
2000
3259
200
500
1000
2000
3260
200
500
1000
2000
3261
200
500
1000
2000
3262
200
500
1000
2000
3263
200
500
1000
2000
3264
200
500
1000
2000
3265
200
500
1000
2000
3266
200
500
1000
2000
3267
200
500
1000
2000
3268
200
500
1000
2000
3269
200
500
1000
2000
3270
200
500
1000
2000
3271
200
500
1000
2000
3272
200
500
1000
2000
3273
200
500
1000
2000
3274
200
500
1000
2000
3275
200
500
1000
2000
3276
200
500
1000
2000
3277
200
500
1000
2000
3278
200
500
1000
2000
3279
200
500
1000
2000
3280
200
500
1000
2000
3281
200
500
1000
2000
3282
200
500
1000
2000
3283
200
500
1000
2000
3284
200
500
1000
2000
3285
200
500
1000
2000
3286
200
500
1000
2000
3287
200
500
1000
2000
3288
200
500
1000
2000
3289
200
500
1000
2000
3290
200
500
1000
2000
3291
200
500
1000
2000
3292
200
500
1000
2000
3293
200
500
1000
2000
3294
200
500
1000
2000
3295
200
500
1000
2000
3296
200
500
1000
2000
3297
200
500
1000
2000
3298
200
500
1000
2000
3299
200
500
1000
2000
3300
200
500
1000
2000
3301
200
500
1000
2000
3302
200
500
1000
2000
3303
200
500
1000
2000
3304
200
500
1000
2000
3305
200
500
1000
2000
3306
200
500
1000
2000
3307
200
500
1000
2000
3308
200
500
1000
2000
3309
200
500
1000
2000
3310
200
500
1000
2000
3311
200
500
1000
2000
3312
200
500
1000
2000
3313
200
500
1000
2000
3314
200
500
1000
2000
3315
200
500
1000
2000
3316
200
500
1000
2000
3317
200
500
1000
2000
3318
200
500
1000
2000
3319
200
500
1000
2000
3320
200
500
1000
2000
3321
200
500
1000
2000
3322
200
500
1000
2000
3323
200
500
1000
2000
3324
200
500
1000
2000
3325
200
500
1000
2000
3326
200
500
1000
2000
3327
200
500
1000
2000
3328
200
500
1000
2000
3329
200
500
1000
2000
3330
200
500
1000
2000
3331
200
500
1000
2000
3332
200
500
1000
2000
3333
200
500
1000
2000
3334
200
500
1000
2000
3335
200
500
1000
2000
3336
200
500
1000
2000
3337
200
500
1000
2000
3338
200
500
1000
2000
3339
200
500
1000
2000
3340
200
500
1000
2000
3341
200
500
1000
2000
3342
200
500
1000
2000
3343
200
500
1000
2000
3344
200
500
1000
2000
3345
200
500
1000
2000
3346
200
500
1000
2000
3347
200
500
1000
2000
3348
200
500
1000
2000
3349
200
500
1000
2000
3350
200
500
1000
2000
3351
200
500
1000
2000
3352
200
500
1000
2000
3353
200
500
1000
2000
3354
200
500
1000
2000
3355
200
500
1000
2000
3356
200
500
1000
2000
3357
200
500
1000
2000
3358
200
500
1000
2000
3359
200
500
1000
2000
3360
200
500
1000
2000
3361
200
500
1000
2000
3362
200
500
1000
2000
3363
200
500
1000
2000
3364
200
500
1000
2000
3365
200
500
1000
2000
3366
200
500
1000
2000
3367
200
500
1000
2000
3368
200
500
1000
2000
3369
200
500
1000
2000
3370
200
500
1000
2000
3371
200
500
1000
2000
3372
200
500
1000
2000
3373
200
500
1000
2000
3374
200
500
1000
2000
3375
200
500
1000
2000
3376
200
500
1000
2000
3377
200
500
1000
2000
3378
200
500
1000
2000
3379
200
500
1000
2000
3380
200
500
1000
2000
3381
200
500
1000
2000
3382
200
500
1000
2000
3383
200
500
1000
2000
3384
200
500
1000
2000
3385
200
500
1000
2000
3386
200
500
1000
2000
3387
200
500
1000
2000
3388
200
500
1000
2000
3389
200
500
1000
2000
3390
200
500
1000
2000
3391
200
500
1000
2000
3392
200
500
1000
2000
3393
200
500
1000
2000
3394
200
500
1000
2000
3395
200
500
1000
2000
3396
200
500
1000
2000
3397
200
500
1000
2000
3398
200
500
1000
2000
3399
200
500
1000
2000
3400
200
500
1000
2000
3401
200
500
1000
2000
3402
200
500
1000
2000
3403
200
500
1000
2000
3404
200
500
1000
2000
3405
200
500
1000
2000
3406
200
500
1000
2000
3407
200
500
1000
2000
3408
200
500
1000
2000
3409
200
500
1000
2000
3410
200
500
1000
2000
3411
200
500
1000
2000
3412
200
500
1000
2000
3413
200
500
1000
2000
3414
200
500
1000
2000
3415
200
500
1000
2000
3416
200
500
1000
2000
3417
200
500
1000
2000
3418
200
500
1000
2000
3419
200
500
1000
2000
3420
200
500
1000
2000
3421
200
500
1000
2000
3422
200
500
1000
2000
3423
200
500
1000
2000
3424
200
500
1000
2000
3425
200
500
1000
2000
3426
200
500
1000
2000
3427
200
500
1000
2000
3428
200
500
1000
2000
3429
200
500
1000
2000
3430
200
500
1000
2000
3431
200
500
1000
2000
3432
200
500
1000
2000
3433
200
500
1000
2000
3434
200
500
1000
2000
3435
200
500
1000
2000
3436
200
500
1000
2000
3437
200
500
1000
2000
3438
200
500
1000
2000
3439
200
500
1000
2000
3440
200
500
1000
2000
3441
200
500
1000
2000
3442
200
500
1000
2000
3443
200
500
1000
2000
3444
200
500
1000
2000
3445
200
500
1000
2000
3446
200
500
1000
2000
3447
200
500
1000
2000
3448
200
500
1000
2000
3449
200
500
1000
2000
3450
200
500
1000
2000
3451
200
500
1000
2000
3452
200
500
1000
2000
3453
200
500
1000
2000
3454
200
500
1000
2000
3455
200
500
1000
2000
3456
200
500
1000
2000
3457
200
500
1000
2000
3458
200
500
1000
2000
3459
200
500
1000
2000
3460
200
500
1000
2000
3461
200
500
1000
2000
3462
200
500
1000
2000
3463
200
500
1000
2000
3464
200
500
1000
2000
3465
200
500
1000
2000
3466
200
500
1000
2000
3467
200
500
1000
2000
3468
200
500
1000
2000
3469
200
500
1000
2000
3470
200
500
1000
2000
3471
200
500
1000
2000
3472
200
500
1000
2000
3473
200
500
1000
2000
3474
200
500
1000
2000
3475
200
500
1000
2000
3476
200
500
1000
2000
3477
200
500
1000
2000
3478
200
500
1000
2000
3479
200
500
1000
2000
3480
200
500
1000
2000
3481
200
500
1000
2000
3482
200
500
1000
2000
3483
200
500
1000
2000
3484
200
500
1000
2000
3485
200
500
1000
2000
3486
200
500
1000
2000
3487
200
500
1000
2000
3488
200
500
1000
2000
3489
200
500
1000
2000
3490
200
500
1000
2000
3491
200
500
1000
2000
3492
200
500
1000
2000
3493
200
500
1000
2000
3494
200
500
1000
2000
3495
200
500
1000
2000
3496
200
500
1000
2000
3497
200
500
1000
2000
3498
200
500
1000
2000
3499
200
500
1000
2000
3500
200
500
1000
2000
3501
200
500
1000
2000
3502
200
500
1000
2000
3503
200
500
1000
2000
3504
200
500
1000
2000
3505
200
500
1000
2000
3506
200
500
1000
2000
3507
200
500
1000
2000
3508
200
500
1000
2000
3509
200
500
1000
2000
3510
200
500
1000
2000
3511
200
500
1000
2000
3512
200
500
1000
2000
3513
200
500
1000
2000
3514
200
500
1000
2000
3515
200
500
1000
2000
3516
200
500
1000
2000
3517
200
500
1000
2000
3518
200
500
1000
2000
3519
200
500
1000
2000
3520
200
500
1000
2000
3521
200
500
1000
2000
3522
200
500
1000
2000
3523
200
500
1000
2000
3524
200
500
1000
2000
3525
200
500
1000
2000
3526
200
500
1000
2000
3527
200
500
1000
2000
3528
200
500
1000
2000
3529
200
500
1000
2000
3530
200
500
1000
2000
3531
200
500
1000
2000
3532
200
500
1000
2000
3533
200
500
1000
2000
3534
200
500
1000
2000
3535
200
500
1000
2000
3536
200
500
1000
2000
3537
200
500
1000
2000
3538
200
500
1000
2000
3539
200
500
1000
2000
3540
200
500
1000
2000
3541
200
500
1000
2000
3542
200
500
1000
2000
3543
200
500
1000
2000
3544
200
500
1000
2000
3545
200
500
1000
2000
3546
200
500
1000
2000
3547
200
500
1000
2000
3548
200
500
1000
2000
3549
200
500
1000
2000
3550
200
500
1000
2000
3551
200
500
1000
2000
3552
200
500
1000
2000
3553
200
500
1000
2000
3554
200
500
1000
2000
3555
200
500
1000
2000
3556
200
500
1000
2000
3557
200
500
1000
2000
3558
200
500
1000
2000
3559
200
500
1000
2000
3560
200
500
1000
2000
3561
200
500
1000
2000
3562
200
500
1000
2000
3563
200
500
1000
2000
3564
200
500
1000
2000
3565
200
500
1000
2000
3566
200
500
1000
2000
3567
200
500
1000
2000
3568
200
500
1000
2000
3569
200
500
1000
2000
3570
200
500
1000
2000
3571
200
500
1000
2000
3572
200
500
1000
2000
3573
200
500
1000
2000
3574
200
500
1000
2000
3575
200
500
1000
2000
3576
200
500
1000
2000
3577
200
500
1000
2000
3578
200
500
1000
2000
3579
200
500
1000
2000
3580
200
500
1000
2000
3581
200
500
1000
2000
3582
200
500
1000
2000
3583
200
500
1000
2000
3584
200
500
1000
2000
3585
200
500
1000
2000
3586
200
500
1000
2000
3587
200
500
1000
2000
3588
200
500
1000
2000
3589
200
500
1000
2000
3590
200
500
1000
2000
3591
200
500
1000
2000
3592
200
500
1000
2000
3593
200
500
1000
2000
3594
200
500
1000
2000
3595
200
500
1000
2000
3596
200
500
1000
2000
3597
200
500
1000
2000
3598
200
500
1000
2000
3599
200
500
1000
2000
3600
200
500
1000
2000
3601
200
500
1000
2000
3602
200
500
1000
2000
3603
200
500
1000
2000
3604
200
500
1000
2000
3605
200
500
1000
2000
3606
200
500
1000
2000
3607
200
500
1000
2000
3608
200
500
1000
2000
3609
200
500
1000
2000
3610
200
500
1000
2000
3611
200
500
1000
2000
3612
200
500
1000
2000
3613
200
500
1000
2000
3614
200
500
1000
2000
3615
200
500
1000
2000
3616
200
500
1000
2000
3617
200
500
1000
2000
3618
200
500
1000
2000
3619
200
500
1000
2000
3620
200
500
1000
2000
3621
200
500
1000
2000
3622
200
500
1000
2000
3623
200
500
1000
2000
3624
200
500
1000
2000
3625
200
500
1000
2000
3626
200
500
1000
2000
3627
200
500
1000
2000
3628
200
500
1000
2000
3629
200
500
1000
2000
3630
200
500
1000
2000
3631
200
500
1000
2000
3632
200
500
1000
2000
3633
200
500
1000
2000
3634
200
500
1000
2000
3635
200
500
1000
2000
3636
200
500
1000
2000
3637
200
500
1000
2000
3638
200
500
1000
2000
3639
200
500
1000
2000
3640
200
500
1000
2000
3641
200
500
1000
2000
3642
200
500
1000
2000
3643
200
500
1000
2000
3644
200
500
1000
2000
3645
200
500
1000
2000
3646
200
500
1000
2000
3647
200
500
1000
2000
3648
200
500
1000
2000
3649
200
500
1000
2000
3650
200
500
1000
2000
3651
200
500
1000
2000
3652
200
500
1000
2000
3653
200
500
1000
2000
3654
200
500
1000
2000
3655
200
500
1000
2000
3656
200
500
1000
2000
3657
200
500
1000
2000
3658
200
500
1000
2000
3659
200
500
1000
2000
3660
200
500
1000
2000
3661
200
500
1000
2000
3662
200
500
1000
2000
3663
200
500
1000
2000
3664
200
500
1000
2000
3665
200
500
1000
2000
3666
200
500
1000
2000
3667
200
500
1000
2000
3668
200
500
1000
2000
3669
200
500
1000
2000
3670
200
500
1000
2000
3671
200
500
1000
2000
3672
200
500
1000
2000
3673
200
500
1000
2000
3674
200
500
1000
2000
3675
200
500
1000
2000
3676
200
500
1000
2000
3677
200
500
1000
2000
3678
200
500
1000
2000
3679
200
500
1000
2000
3680
200
500
1000
2000
3681
200
500
1000
2000
3682
200
500
1000
2000
3683
200
500
1000
2000
3684
200
500
1000
2000
3685
200
500
1000
2000
3686
200
500
1000
2000
3687
200
500
1000
2000
3688
200
500
1000
2000
3689
200
500
1000
2000
3690
200
500
1000
2000
3691
200
500
1000
2000
3692
200
500
1000
2000
3693
200
500
1000
2000
3694
200
500
1000
2000
3695
200
500
1000
2000
3696
200
500
1000
2000
3697
200
500
1000
2000
3698
200
500
1000
2000
3699
200
500
1000
2000
3700
200
500
1000
2000
3701
200
500
1000
2000
3702
200
500
1000
2000
3703
200
500
1000
2000
3704
200
500
1000
2000
3705
200
500
1000
2000
3706
200
500
1000
2000
3707
200
500
1000
2000
3708
200
500
1000
2000
3709
200
500
1000
2000
3710
200
500
1000
2000
3711
200
500
1000
2000
3712
200
500
1000
2000
3713
200
500
1000
2000
3714
200
500
1000
2000
3715
200
500
1000
2000
3716
200
500
1000
2000
3717
200
500
1000
2000
3718
200
500
1000
2000
3719
200
500
1000
2000
3720
200
500
1000
2000
3721
200
500
1000
2000
3722
200
500
1000
2000
3723
200
500
1000
2000
3724
200
500
1000
2000
3725
200
500
1000
2000
3726
200
500
1000
2000
3727
200
500
1000
2000
3728
200
500
1000
2000
3729
200
500
1000
2000
3730
200
500
1000
2000
3731
200
500
1000
2000
3732
200
500
1000
2000
3733
200
500
1000
2000
3734
200
500
1000
2000
3735
200
500
1000
2000
3736
200
500
1000
2000
3737
200
500
1000
2000
3738
200
500
1000
2000
3739
200
500
1000
2000
3740
200
500
1000
2000
3741
200
500
1000
2000
3742
200
500
1000
2000
3743
200
500
1000
2000
3744
200
500
1000
2000
3745
200
500
1000
2000
3746
200
500
1000
2000
3747
200
500
1000
2000
3748
200
500
1000
2000
3749
200
500
1000
2000
3750
200
500
1000
2000
3751
200
500
1000
2000
3752
200
500
1000
2000
3753
200
500
1000
2000
3754
200
500
1000
2000
3755
200
500
1000
2000
3756
200
500
1000
2000
3757
200
500
1000
2000
3758
200
500
1000
2000
3759
200
500
1000
2000
3760
200
500
1000
2000
3761
200
500
1000
2000
3762
200
500
1000
2000
3763
200
500
1000
2000
3764
200
500
1000
2000
3765
200
500
1000
2000
3766
200
500
1000
2000
3767
200
500
1000
2000
3768
200
500
1000
2000
3769
200
500
1000
2000
3770
200
500
1000
2000
3771
200
500
1000
2000
3772
200
500
1000
2000
3773
200
500
1000
2000
3774
200
500
1000
2000
3775
200
500
1000
2000
3776
200
500
1000
2000
3777
200
500
1000
2000
3778
200
500
1000
2000
3779
200
500
1000
2000
3780
200
500
1000
2000
3781
200
500
1000
2000
3782
200
500
1000
2000
3783
200
500
1000
2000
3784
200
500
1000
2000
3785
200
500
1000
2000
3786
200
500
1000
2000
3787
200
500
1000
2000
3788
200
500
1000
2000
3789
200
500
1000
2000
3790
200
500
1000
2000
3791
200
500
1000
2000
3792
200
500
1000
2000
3793
200
500
1000
2000
3794
200
500
1000
2000
3795
200
500
1000
2000
3796
200
500
1000
2000
3797
200
500
1000
2000
3798
200
500
1000
2000
3799
200
500
1000
2000
3800
200
500
1000
2000
3801
200
500
1000
2000
3802
200
500
1000
2000
3803
200
500
1000
2000
3804
200
500
1000
2000
3805
200
500
1000
2000
3806
200
500
1000
2000
3807
200
500
1000
2000
3808
200
500
1000
2000
3809
200
500
1000
2000
3810
200
500
1000
2000
3811
200
500
1000
2000
3812
200
500
1000
2000
3813
200
500
1000
2000
3814
200
500
1000
2000
3815
200
500
1000
2000
3816
200
500
1000
2000
3817
200
500
1000
2000
3818
200
500
1000
2000
3819
200
500
1000
2000
3820
200
500
1000
2000
3821
200
500
1000
2000
3822
200
500
1000
2000
3823
200
500
1000
2000
3824
200
500
1000
2000
3825
200
500
1000
2000
3826
200
500
1000
2000
3827
200
500
1000
2000
3828
200
500
1000
2000
3829
200
500
1000
2000
3830
200
500
1000
2000
3831
200
500
1000
2000
3832
200
500
1000
2000
3833
200
500
1000
2000
3834
200
500
1000
2000
3835
200
500
1000
2000
3836
200
500
1000
2000
3837
200
500
1000
2000
3838
200
500
1000
2000
3839
200
500
1000
2000
3840
200
500
1000
2000
3841
200
500
1000
2000
3842
200
500
1000
2000
3843
200
500
1000
2000
3844
200
500
1000
2000
3845
200
500
1000
2000
3846
200
500
1000
2000
3847
200
500
1000
2000
3848
200
500
1000
2000
3849
200
500
1000
2000
3850
200
500
1000
2000
3851
200
500
1000
2000
3852
200
500
1000
2000
3853
200
500
1000
2000
3854
200
500
1000
2000
3855
200
500
1000
2000
3856
200
500
1000
2000
3857
200
500
1000
2000
3858
200
500
1000
2000
3859
200
500
1000
2000
3860
200
500
1000
2000
3861
200
500
1000
2000
3862
200
500
1000
2000
3863
200
500
1000
2000
3864
200
500
1000
2000
3865
200
500
1000
2000
3866
200
500
1000
2000
3867
200
500
1000
2000
3868
200
500
1000
2000
3869
200
500
1000
2000
3870
200
500
1000
2000
3871
200
500
1000
2000
3872
200
500
1000
2000
3873
200
500
1000
2000
3874
200
500
1000
2000
3875
200
500
1000
2000
3876
200
500
1000
2000
3877
200
500
1000
2000
3878
200
500
1000
2000
3879
200
500
1000
2000
3880
200
500
1000
2000
3881
200
500
1000
2000
3882
200
500
1000
2000
3883
200
500
1000
2000
3884
200
500
1000
2000
3885
200
500
1000
2000
3886
200
500
1000
2000
3887
200
500
1000
2000
3888
200
500
1000
2000
3889
200
500
1000
2000
3890
200
500
1000
2000
3891
200
500
1000
2000
3892
200
500
1000
2000
3893
200
500
1000
2000
3894
200
500
1000
2000
3895
200
500
1000
2000
3896
200
500
1000
2000
3897
200
500
1000
2000
3898
200
500
1000
2000
3899
200
500
1000
2000
3900
200
500
1000
2000
3901
200
500
1000
2000
3902
200
500
1000
2000
3903
200
500
1000
2000
3904
200
500
1000
2000
3905
200
500
1000
2000
3906
200
500
1000
2000
3907
200
500
1000
2000
3908
200
500
1000
2000
3909
200
500
1000
2000
3910
200
500
1000
2000
3911
200
500
1000
2000
3912
200
500
1000
2000
3913
200
500
1000
2000
3914
200
500
1000
2000
3915
200
500
1000
2000
3916
200
500
1000
2000
3917
200
500
1000
2000
3918
200
500
1000
2000
3919
200
500
1000
2000
3920
200
500
1000
2000
3921
200
500
1000
2000
3922
200
500
1000
2000
3923
200
500
1000
2000
3924
200
500
1000
2000
3925
200
500
1000
2000
3926
200
500
1000
2000
3927
200
500
1000
2000
3928
200
500
1000
2000
3929
200
500
1000
2000
3930
200
500
1000
2000
3931
200
500
1000
2000
3932
200
500
1000
2000
3933
200
500
1000
2000
3934
200
500
1000
2000
3935
200
500
1000
2000
3936
200
500
1000
2000
3937
200
500
1000
2000
3938
200
500
1000
2000
3939
200
500
1000
2000
3940
200
500
1000
2000
3941
200
500
1000
2000
3942
200
500
1000
2000
3943
200
500
1000
2000
3944
200
500
1000
2000
3945
200
500
1000
2000
3946
200
500
1000
2000
3947
200
500
1000
2000
3948
200
500
1000
2000
3949
200
500
1000
2000
3950
200
500
1000
2000
3951
200
500
1000
2000
3952
200
500
1000
2000
3953
200
500
1000
2000
3954
200
500
1000
2000
3955
200
500
1000
2000
3956
200
500
1000
2000
3957
200
500
1000
2000
3958
200
500
1000
2000
3959
200
500
1000
2000
3960
200
500
1000
2000
3961
200
500
1000
2000
3962
200
500
1000
2000
3963
200
500
1000
2000
3964
200
500
1000
2000
3965
200
500
1000
2000
3966
200
500
1000
2000
3967
200
500
1000
2000
3968
200
500
1000
2000
3969
200
500
1000
2000
3970
200
500
1000
2000
3971
200
500
1000
2000
3972
200
500
1000
2000
3973
200
500
1000
2000
3974
200
500
1000
2000
3975
200
500
1000
2000
3976
200
500
1000
2000
3977
200
500
1000
2000
3978
200
500
1000
2000
3979
200
500
1000
2000
3980
200
500
1000
2000
3981
200
500
1000
2000
3982
200
500
1000
2000
3983
200
500
1000
2000
3984
200
500
1000
2000
3985
200
500
1000
2000
3986
200
500
1000
2000
3987
200
500
1000
2000
3988
200
500
1000
2000
3989
200
500
1000
2000
3990
200
500
1000
2000
3991
200
500
1000
2000
3992
200
500
1000
2000
3993
200
500
1000
2000
3994
200
500
1000
2000
3995
200
500
1000
2000
3996
200
500
1000
2000
3997
200
500
1000
2000
3998
200
500
1000
2000
3999
200
500
1000
2000
4000
200
500
1000
2000
4001
200
500
1000
2000
4002
200
500
1000
2000
4003
200
500
1000
2000
4004
200
500
1000
2000
4005
200
500
1000
2000
4006
200
500
1000
2000
4007
200
500
1000
2000
4008
200
500
1000
2000
4009
200
500
1000
2000
4010
200
500
1000
2000
4011
200
500
1000
2000
4012
200
500
1000
2000
4013
200
500
1000
2000
4014
200
500
1000
2000
4015
200
500
1000
2000
4016
200
500
1000
2000
4017
200
500
1000
2000
4018
200
500
1000
2000
4019
200
500
1000
2000
4020
200
500
1000
2000
4021
200
500
1000
2000
4022
200
500
1000
2000
4023
200
500
1000
2000
4024
200
500
1000
2000
4025
200
500
1000
2000
4026
200
500
1000
2000
4027
200
500
1000
2000
4028
200
500
1000
2000
4029
200
500
1000
2000
4030
200
500
1000
2000
4031
200
500
1000
2000
4032
200
500
1000
2000
4033
200
500
1000
2000
4034
200
500
1000
2000
4035
200
500
1000
2000
4036
200
500
1000
2000
4037
200
500
1000
2000
4038
200
500
1000
2000
4039
200
500
1000
2000
4040
200
500
1000
2000
4041
200
500
1000
2000
4042
200
500
1000
2000
4043
200
500
1000
2000
4044
200
500
1000
2000
4045
200
500
1000
2000
4046
200
500
1000
2000
4047
200
500
1000
2000
4048
200
500
1000
2000
4049
200
500
1000
2000
4050
200
500
1000
2000
4051
200
500
1000
2000
4052
200
500
1000
2000
4053
200
500
1000
2000
4054
200
500
1000
2000
4055
200
500
1000
2000
4056
200
500
1000
2000
4057
200
500
1000
2000
4058
200
500
1000
2000
4059
200
500
1000
2000
4060
200
500
1000
2000
4061
200
500
1000
2000
4062
200
500
1000
2000
4063
200
500
1000
2000
4064
200
500
1000
2000
4065
200
500
1000
2000
4066
200
500
1000
2000
4067
200
500
1000
2000
4068
200
500
1000
2000
4069
200
500
1000
2000
4070
200
500
1000
2000
4071
200
500
1000
2000
4072
200
500
1000
2000
4073
200
500
1000
2000
4074
200
500
1000
2000
4075
200
500
1000
2000
4076
200
500
1000
2000
4077
200
500
1000
2000
4078
200
500
1000
2000
4079
200
500
1000
2000
4080
200
500
1000
2000
4081
200
500
1000
2000
4082
200
500
1000
2000
4083
200
500
1000
2000
4084
200
500
1000
2000
4085
200
500
1000
2000
4086
200
500
1000
2000
4087
200
500
1000
2000
4088
200
500
1000
2000
4089
200
500
1000
2000
4090
200
500
1000
2000
4091
200
500
1000
2000
4092
200
500
1000
2000
4093
200
500
1000
2000
4094
200
500
1000
2000
4095
200
500
1000
2000
4096
200
500
1000
2000
4097
200
500
1000
2000
4098
200
500
1000
2000
4099
200
500
1000
2000
4100
200
500
1000
2000
4101
200
500
1000
2000
4102
200
500
1000
2000
4103
200
500
1000
2000
4104
200
500
1000
2000
4105
200
500
1000
2000
4106
200
500
1000
2000
4107
200
500
1000
2000
4108
200
500
1000
2000
4109
200
500
1000
2000
4110
200
500
1000
2000
4111
200
500
1000
2000
4112
200
500
1000
2000
4113
200
500
1000
2000
4114
200
500
1000
2000
4115
200
500
1000
2000
4116
200
500
1000
2000
4117
200
500
1000
2000
4118
200
500
1000
2000
4119
200
500
1000
2000
4120
200
500
1000
2000
4121
200
500
1000
2000
4122
200
500
1000
2000
4123
200
500
1000
2000
4124
200
500

   pct_leads_invested_at_primary_type  ...  days_forward
0                            0.333333  ...           200
0                            0.000000  ...           500
0                            0.333333  ...          1000
0                            0.333333  ...          2000
0                            0.833333  ...          1000
0                            0.833333  ...          2000
0                            0.666667  ...           200
0                            0.666667  ...           500
0                            0.666667  ...          1000
0                            0.666667  ...          2000

[10 rows x 12 columns]

In [ ]:
primary_type_investment_df.columns

Index(['org_uuid', 'pct_leads_invested_at_primary_type'], dtype='object')