In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from copy import deepcopy

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')
os.listdir('/content/gdrive/My Drive/vc_modeling')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

['data', 'regression_targets', 'feature_extraction']

In [4]:
orgs = pd.read_csv("/content/gdrive/My Drive/vc_modeling/data/crunchbase_bulk_export/organizations.csv")
orgs.head(2)

                                   uuid      name  ... primary_role num_exits
0  e1393508-30ea-8a36-3f96-dd3226033abd  Wetpaint  ...      company       NaN
1  bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7      Zoho  ...      company       1.0

[2 rows x 41 columns]

In [8]:
len(orgs['uuid'].unique())

1089733

In [5]:
f = pd.read_csv("/content/gdrive/My Drive/vc_modeling/data/crunchbase_bulk_export/funding_rounds.csv")
f.head(2)

                                   uuid  ...                   lead_investor_uuids
0  8a945939-18e0-cc9d-27b9-bf33817b2818  ...  3f47be49-2e32-8118-01a0-31685a4d0fd7
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...  b08efc27-da40-505a-6f9d-c9e14247bf36

[2 rows x 24 columns]

In [14]:
round_counts = f[['org_uuid', 'uuid']].groupby('org_uuid').count().reset_index().rename({'uuid': 'funding_round_counts'}, axis=1)
round_counts.head(2)

                               org_uuid  funding_round_counts
0  00000aa4-ba42-9b68-a9c3-040c9f3bf9b9                     1
1  000014da-0c46-b9cb-0941-3a93c027b119                     7

In [15]:
funded_2plus = round_counts[round_counts['funding_round_counts']>=2]
len(funded_2plus)

68914

In [16]:
f.investment_type.unique()

array(['angel', 'series_a', 'series_b', 'seed', 'series_c', 'series_d',
       'series_unknown', 'debt_financing', 'series_e', 'private_equity',
       'series_f', 'undisclosed', 'pre_seed', 'grant', 'convertible_note',
       'post_ipo_equity', 'post_ipo_debt', 'non_equity_assistance',
       'corporate_round', 'series_i', 'series_g', 'secondary_market',
       'initial_coin_offering', 'series_h', 'product_crowdfunding',
       'equity_crowdfunding', 'series_j', 'post_ipo_secondary'],
      dtype=object)

In [21]:
use_stages = ['seed', 'series_a', 'series_b', 'series_c', 'series_d', 'series_e', 'series_f']
use_f = f[f['investment_type'].isin(use_stages)]

In [22]:
use_round_counts = use_f[['org_uuid', 'uuid']].groupby('org_uuid').count().reset_index().rename({'uuid': 'funding_round_counts'}, axis=1)
use_round_counts.head(2)

                               org_uuid  funding_round_counts
0  00002470-bff7-6226-5800-0ca1b3787b6f                     4
1  0000d497-c93a-eea3-eeb0-a943dfb4f71e                     1

In [23]:
use_funded_2plus = use_round_counts[use_round_counts['funding_round_counts']>=2]
len(use_funded_2plus)

37191

In [44]:
use_orgs = use_funded_2plus.org_uuid.unique()
demo_data = orgs[(orgs['uuid'].isin(use_orgs)) & (orgs['founded_on'] > '2018-01-01')][['name', 'founded_on']].dropna()
print(len(demo_data))
demo_data.head(2)

741

                 name  founded_on
181    Kosiso - store  2020-06-06
75725       Cloudsnap  2018-09-01

In [45]:
demo_data.to_csv("/content/gdrive/My Drive/vc_modeling/data/demo_data.csv", index=False)