<a href="https://colab.research.google.com/github/siddtheshah/vc_modeling/blob/master/time_valuation_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from copy import deepcopy

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [4]:
file_names = os.listdir("/content/gdrive/My Drive/vc_modeling/data/crunchbase_bulk_export/")
df_names = [x[:-4] for x in file_names]
print(df_names)

dfs = [pd.read_csv("/content/gdrive/My Drive/vc_modeling/data/crunchbase_bulk_export/"+x) for x in file_names]
df_dict = dict(zip(df_names, dfs))
print(df_dict.keys())

['category_groups', 'funding_rounds', 'people', 'checksum', 'people_descriptions', 'investors', 'organization_descriptions', 'investment_partners', 'event_appearances', 'organizations', 'org_parents', 'jobs', 'acquisitions', 'funds', 'ipos', 'degrees', 'investments', 'events']
dict_keys(['category_groups', 'funding_rounds', 'people', 'checksum', 'people_descriptions', 'investors', 'organization_descriptions', 'investment_partners', 'event_appearances', 'organizations', 'org_parents', 'jobs', 'acquisitions', 'funds', 'ipos', 'degrees', 'investments', 'events'])

In [5]:
df_dict['funding_rounds'].head()
# df_dict['organizations'].head()

                                   uuid  ...                                lead_investor_uuids
0  8a945939-18e0-cc9d-27b9-bf33817b2818  ...               3f47be49-2e32-8118-01a0-31685a4d0fd7
1  d950d7a5-79ff-fb93-ca87-13386b0e2feb  ...               b08efc27-da40-505a-6f9d-c9e14247bf36
2  6fae3958-a001-27c0-fb7e-666266aedd78  ...  e2006571-6b7a-e477-002a-f7014f48a7e3,8d5c7e48-...
3  bcd5a63d-ed99-6963-0dd2-e36f6582f846  ...                                                NaN
4  60e6afd9-1215-465a-dd17-0ed600d4e29b  ...               fb2f8884-ec07-895a-48d7-d9a9d4d7175c

[5 rows x 24 columns]

In [ ]:
# We should select a set of companies for which there aren't a lot of missing values. But we don't want to overbias either.

# def join_data_per_company(df_dict, company_ids):
#   # Companies 
#   funding_rounds = df_dict['funding_rounds']

#   truncated = funding_rounds[funding_rounds['org_uuid'].isin(company_ids)]
#   return df_dict['funding_rounds'][company_ids]
#   # df_dict['organizations'][company_ids]

company_ids = ['df662812-7f97-0b43-9d3e-12f64f504fbb']
# join_data_per_company(df_dict, company_ids)

In [ ]:
funding_data = deepcopy(
    df_dict["funding_rounds"][['org_uuid', 'announced_on', 'post_money_valuation_usd']]).rename(
    columns={"announced_on": "date", "post_money_valuation_usd": "valuation"})
acquisitions_data = deepcopy(df_dict["acquisitions"][['acquiree_uuid', 'acquired_on', 'price_usd']]).rename(
    columns={"acquiree_uuid": "org_uuid", "acquired_on": "date", "price_usd": "valuation"})
ipos_data = deepcopy(df_dict["ipos"][['org_uuid', 'went_public_on', 'valuation_price_usd']]).rename(
    columns={"went_public_on": "date", "valuation_price_usd": "valuation"})

types = df_dict["acquisitions"][['type']].values
acquisition_types = df_dict["acquisitions"][['acquisition_type']].values
acquisitions_data['event'] = [types[x][0] if not isinstance(acquisition_types[x][0], str) 
                              else acquisition_types[x][0] for x in range(len(acquisitions_data))]
funding_data['event'] = pd.Series([x[0] for x in df_dict["funding_rounds"]['name'].str.split(" - ")])
ipos_data['event'] = df_dict['ipos']['stock_exchange_symbol']

timelines = pd.concat([funding_data, acquisitions_data, ipos_data])

# Normalize dates

timelines.sort_values(by=['org_uuid', 'date'], inplace=True)
timelines.reset_index(inplace=True, drop=True)

timelines.set_index(['org_uuid'])
grouped_timelines = timelines.groupby(['org_uuid'])

# Normalization of dependent variables

### Time Normalization

In [ ]:
import datetime
company_timelines = {}

milli_per_day = 86400  # Used for converting Unix time

for company_id in company_ids:
  timeline = grouped_timelines.get_group(company_id).copy()
  timeline = timeline[timeline['valuation'].notnull()]               # We only care about times at which there is a valuation of the company.
  timeline.reset_index(inplace=True, drop=True)

  day_zero = datetime.datetime.strptime(timeline['date'].iloc[0], '%Y-%m-%d').timestamp()
  parsed_dates = pd.Series([datetime.datetime.strptime(x, '%Y-%m-%d').timestamp() for x in timeline['date']])
  norm_dates = (parsed_dates - day_zero)/milli_per_day
  timeline['norm_dates'] = norm_dates
  company_timelines[company_id] = timeline
  # print(timeline)
  # print(norm_dates)

### Value Normalization

In [ ]:
for company_id, timeline in company_timelines.items():
  initial_valuation = timeline['valuation'].iloc[0]
  norm_valuations = pd.Series([np.log(value/initial_valuation) for value in timeline['valuation']])
  timeline['norm_valuations'] = norm_valuations

# Selecting Independent Vars

In [8]:
df_dict['organizations'].head()

                                   uuid  ... num_exits
0  e1393508-30ea-8a36-3f96-dd3226033abd  ...       NaN
1  bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7  ...       1.0
2  5f2b40b8-d1b3-d323-d81a-b7a8e89553d0  ...       NaN
3  f4d5ab44-058b-298b-ea81-380e6e9a8eec  ...      33.0
4  df662812-7f97-0b43-9d3e-12f64f504fbb  ...       NaN

[5 rows x 41 columns]

## Build a Vocabulary

In [38]:
import collections

org_info = df_dict['organizations']

# Filter down the data purely to investees
org_info = org_info[org_info['primary_role'] == 'company']

# Select organization data
# Clean the df

comma_sep_list_vars = ['category_list', 'category_groups_list']
categorical_vars = ['region']
other_vars = ['uuid']
org_info_selected = org_info[other_vars + categorical_vars + comma_sep_list_vars]
org_info_selected = org_info_selected.dropna()
org_info_selected = org_info_selected.reset_index(drop=True)

vocabulary = collections.Counter()

iter = 0
test_stop = -1
total_rows = np.shape(org_info_selected)[0]
print("Processing ", total_rows, " rows.")
for (i, row) in org_info_selected.iterrows():
  if iter == test_stop:
    break
  iter += 1
  if iter % 100000 == 0:
    print(iter, " of ", total_rows)

  for col, _ in row.iteritems():
    if col in comma_sep_list_vars:
      # Break categories into unigrams
      token_lists = [x.split(' ') for x in row[col].strip().split(',')]
      tokens = []
      for token_list in token_lists:
        for token in token_list:
          tokens.append(token)

      for token in tokens:
        vocabulary[token] += 1
    elif col in categorical_vars:
      token = row[col]  # Yes, this token can be multiple words.
      vocabulary[token] += 1


# Filter low count words
low_count_threshold = 5
keys_to_remove = []
for word, count in vocabulary.items():
  if count < low_count_threshold:
    keys_to_remove.append(word)

for key in keys_to_remove:
  del vocabulary[key]

# Now rank and filter by document frequency. The top half frequent words will be dropped
key_list = list(vocabulary.keys())
chop = sorted(key_list, key=lambda x: vocabulary[x])[int(len(key_list)/2):]
for key in chop:
  del vocabulary[key]

# Create index to word mapping
word_to_index = {}
word_index = 0
for word, count in vocabulary.items():
  word_to_index[word] = word_index
  word_index += 1

print(word_to_index)
vocabulary_size = word_index

# Save our vocabulary for reuse
# from google.colab import files
# files.download('data.dat')

{'Facebook': 0, 'World': 1, 'Exchange': 2, 'Goa': 3, 'Recipes': 4, 'Teenagers': 5, 'WebOS': 6, 'Alumni': 7, 'NA - Venezuela': 8, 'Independent': 9, 'Limerick': 10, 'Freemium': 11, 'Micro': 12, 'Syndication': 13, 'Contests': 14, 'Banten': 15, 'Google': 16, 'DSP': 17, 'Racing': 18, 'Elderly': 19, 'Q&A': 20, 'Phuket': 21, 'Merton': 22, 'Spam': 23, 'Filtering': 24, 'DRM': 25, 'Debit': 26, 'Young': 27, 'Adults': 28, 'Canakkale': 29, 'Usak': 30, 'Sligo': 31, 'Equestrian': 32, 'Maramures': 33, 'Collectibles': 34, 'Sibiu': 35, 'A/B': 36, 'Saint Patrick': 37, 'Vertical': 38, 'Rhondda Cynon Taff': 39, 'Moskva': 40, 'In-Flight': 41, 'Kilkenny': 42, 'Inverclyde': 43, 'South Lanarkshire': 44, 'Bureau': 45, 'Dolj': 46, 'Presentation': 47, 'Larnaca': 48, 'Server': 49, 'Quantum': 50, 'Brighton and Hove': 51, 'Leiria': 52, 'Port Louis': 53, 'Highland': 54, 'Dundee City': 55, 'E-Signature': 56, 'Kaluga': 57, 'Twitter': 58, 'Madeira': 59, 'Retargeting': 60, 'Kingston upon Thames': 61, 'Falkirk': 62, 'Ceredigion': 63, 'Yerevan': 64, 'Udmurt': 65, 'Cause': 66, 'Charter': 67, 'Schools': 68, 'Managua': 69, 'Audiobooks': 70, 'Brasov': 71, 'Vasternorrlands Lan': 72, 'Swansea': 73, 'Krabi': 74, 'NA - Isle of Man': 75, 'Cheju-do': 76, 'Gibraltar': 77, 'GPU': 78, 'Tunis': 79, 'Mariy-El': 80, 'Saint Michael': 81, 'Vastmanlands Lan': 82, 'Heredia': 83, 'Comics': 84, 'San Jose': 85, "Tyumen'": 86, 'Kronobergs Lan': 87, 'Zacatecas': 88, 'Kwara': 89, 'Inner-Rhoden': 90, 'Iasi': 91, 'Wokingham': 92, 'Adult': 93, 'LGBT': 94, 'Quintana Roo': 95, 'Richmond upon Thames': 96, 'Schaffhausen': 97, 'Recreational': 98, 'Castelo Branco': 99, 'South Tyneside': 100, 'Aland': 101, "Hawke's Bay": 102, 'College': 103, 'Ostfold': 104, 'North Somerset': 105, 'Bromley': 106, 'Adis Abeba': 107, 'Nightclubs': 108, 'Blackpool': 109, 'Mures': 110, 'Thessaloniki': 111, 'Louth': 112, 'Distrito Nacional': 113, 'Al Iskandariyah': 114, 'Tartumaa': 115, "Kirovohrads'ka Oblast'": 116, 'Tennis': 117, 'Midland': 118, 'Wrexham': 119, 'Amazonas': 120, 'Knowsley': 121, 'Karpos': 122, 'Donegal': 123, 'Opolskie': 124, 'Aust-Agder': 125, 'Zagrebacka': 126, 'Federation of Bosnia and Herzegovina': 127, 'Lagunes': 128, 'Cholla-bukto': 129, 'Souss-Massa-Dr,a': 130, 'First': 131, 'Aid': 132, 'Hamilton': 133, 'Dumfries and Galloway': 134, 'Tatarstan': 135, 'Abruzzi': 136, 'Schaan': 137, 'Entre Rios': 138, 'Kabol': 139, "Khersons'ka Oblast'": 140, 'Iraklion': 141, 'Textbook': 142, 'Enfield': 143, 'Gateshead': 144, 'Rochdale': 145, 'American': 146, 'Football': 147, 'La Paz': 148, 'Kildare': 149, 'Fukushima': 150, 'Fertility': 151, 'Stirling': 152, 'Baki': 153, 'Waterford': 154, 'Phone': 155, 'Brent': 156, 'Carlow': 157, "Khmel'nyts'ka Oblast'": 158, 'Kayseri': 159, 'Timis': 160, 'Denbighshire': 161, 'Toyama': 162, 'Bracknell Forest': 163, 'Westminster': 164, 'Blekinge Lan': 165, 'Registry': 166, 'Monmouthshire': 167, 'Diving': 168, 'Bishkek': 169, 'Ash Sharqiyah': 170, 'Plovdiv': 171, 'Khorasan': 172, 'Drenthe': 173, 'Yamanashi': 174, 'Otago': 175, 'Console': 176, 'Xbox': 177, 'Cavite': 178, 'Nelson': 179, 'Quezon City': 180, 'Angus': 181, 'Wakefield': 182, 'Vending': 183, 'Concessions': 184, 'Oppland': 185, 'Nova Gorica Urban Commune': 186, 'Tipperary': 187, 'Guayas': 188, 'Field-Programmable': 189, 'Gate': 190, 'Array': 191, '(FPGA)': 192, 'North Ayrshire': 193, 'Mendoza': 194, 'Cordoba': 195, 'Mayo': 196, 'Northumberland': 197, 'Cantabria': 198, 'Vocational': 199, 'Hounslow': 200, 'Guanajuato': 201, 'East Lothian': 202, 'More og Romsdal': 203, 'Middlesbrough': 204, 'Assisted': 205, 'Living': 206, 'Al Jizah': 207, 'Sponsorship': 208, 'La Rioja': 209, 'Vorarlberg': 210, 'macOS': 211, 'Bohinj Commune': 212, 'Namur': 213, 'Paraiba': 214, 'Salzburg': 215, 'Playstation': 216, 'Puducherry': 217, 'Sverdlovsk': 218, 'Splitsko-Dalmatinska': 219, 'Cagayan': 220, 'Bihor': 221, 'Monaghan': 222, 'Samut Sakhon': 223, 'Jura': 224, 'Derry': 225, 'Astana': 226, 'Kranj Commune': 227, 'Gwynedd': 228, 'Chiapas': 229, 'Uttarakhand': 230, 'Plymouth': 231, 'Bursa': 232, 'Blaenau Gwent': 233, 'Tasmania': 234, 'North Lanarkshire': 235, 'Sardegna': 236, 'Coahuila de Zaragoza': 237, 'Tirane': 238, 'Central': 239, 'Waikato': 240, 'Troms': 241, 'West Lothian': 242, 'Halton': 243, 'Wolverhampton': 244, 'Cavan': 245, 'Bury': 246, 'NA - Uzbekistan': 247, 'Carmarthenshire': 248, 'Jawa Tengah': 249, 'Horticulture': 250, 'Stoke-on-Trent': 251, 'Indoor': 252, 'Positioning': 253, 'Al Kuwayt': 254, 'Cell': 255, 'Fossil': 256, 'Fuels': 257, 'Nutraceutical': 258, 'Kalmar Lan': 259, 'Nordland': 260, 'Albay': 261, 'NA - Jersey': 262, 'Debrecen': 263, 'Setubal': 264, 'Janitorial': 265, 'Glass': 266, 'Barnsley': 267, 'Baghdad': 268, 'Konya': 269, 'Brezovica Commune': 270, 'Santa Fe': 271, 'Hillingdon': 272, 'Molise': 273, 'Vest-Agder': 274, 'Rutland': 275, 'Yogyakarta': 276, 'Ealing': 277, 'Oldham': 278, 'Vestfold': 279, 'Bridgend': 280, 'North-West Frontier': 281, 'Evora': 282, 'Clare': 283, 'Karnten': 284, 'Himachal Pradesh': 285, 'Sergipe': 286, 'Lodzkie': 287, 'Nuclear': 288, 'Plaines Wilhems': 289, 'East Riding of Yorkshire': 290, 'Chon Buri': 291, 'St. Helens': 292, 'Harrow': 293, 'Intrusion': 294, 'Panama': 295, 'Hartlepool': 296, 'Solihull': 297, 'Sefton': 298, 'Angeles': 299, 'Misiones': 300, 'San Salvador': 301, 'Durango': 302, 'Tirol': 303, 'Saga': 304, 'Hydroponics': 305, 'Klaipedos Apskritis': 306, 'Ibaraki': 307, 'Pamplemousses': 308, "Ch'ungch'ong-namdo": 309, 'Davao City': 310, 'Sonora': 311, "Dushet'is Raioni": 312, 'Mexico': 313, 'Renfrewshire': 314, 'Ciudad de la Habana': 315, 'Chisinau': 316, 'Oita': 317, 'Acre': 318, 'Kauno Apskritis': 319, 'Saint Andrew': 320, 'Timeshare': 321, "Ch'ungch'ong-bukto": 322, 'Down': 323, 'Kyongsang-bukto': 324, 'Homeless': 325, 'Shelter': 326, 'Caerphilly': 327, 'Underserved': 328, 'Serious': 329, 'Istarska': 330, 'Kujawsko-Pomorskie': 331, 'Calabria': 332, 'Sex': 333, 'Basketball': 334, 'Ishikawa': 335, 'Vale of Glamorgan, The': 336, 'Sodermanlands Lan': 337, 'Calderdale': 338, 'Perth and Kinross': 339, 'Bradford': 340, 'Buskerud': 341, 'Cochabamba': 342, 'Ausser-Rhoden': 343, 'Scottish Borders, The': 344, "Ternopil's'ka Oblast'": 345, 'Vestur-Isafjardarsysla': 346, 'Stockton-on-Tees': 347, 'Pernambuco': 348, 'NA - Martinique': 349, 'Grevenmacher': 350, 'Rotherham': 351, 'Newport': 352, 'Newry and Mourne': 353, 'Oaxaca': 354, 'Norrbottens Lan': 355, 'Lingerie': 356, 'Bali': 357, 'Zachodniopomorskie': 358, 'Omagh': 359, 'Negeri Sembilan': 360, 'Redbridge': 361, 'Northern Territory': 362, 'Presov': 363, 'Telemark': 364, 'Wirral': 365, 'Assistance': 366, 'Argyll and Bute': 367, 'Torbay': 368, 'Livestock': 369, 'Meath': 370, 'Saint John': 371, 'Jelgavas': 372, 'Krym': 373, 'Valparaiso': 374, 'Rondonia': 375, 'Field': 376, 'Nidwalden': 377, 'Fife': 378, 'Osjecko-Baranjska': 379, 'Barnet': 380, 'Evvoia': 381, 'Tucuman': 382, 'Sfax': 383, 'Extremadura': 384, 'Offaly': 385, 'North Tyneside': 386, 'Westmeath': 387, 'Jonkopings Lan': 388, 'Isle of Anglesey': 389, 'Northland': 390, 'Rayong': 391, 'Multi-level': 392, 'Coimbra': 393, 'Telford and Wrekin': 394, 'Wexford': 395, 'Isabela': 396, 'NA - Guernsey': 397, "Ul'yanovsk": 398, 'Giurgiu': 399, 'Kerry': 400, 'Maale': 401, 'Nizhegorod': 402, 'Novosibirsk': 403, 'Mie': 404, 'Melaka': 405, "Sevastopol'": 406, 'Hockey': 407, 'NA - Yemen': 408, 'Kingston upon Hull, City of': 409, 'Orel': 410, 'Masbate': 411, 'Krasnodar': 412, 'Belize': 413, 'Ouest': 414, "Al Balqa'": 415, 'Flintshire': 416, "Primor'ye": 417, 'Outpatient': 418, 'Clackmannanshire': 419, 'Sud-Ouest': 420, 'Mont-Liban': 421, 'Kaliningrad': 422, 'Coleraine': 423, 'Newtownabbey': 424, 'Kagoshima': 425, 'Saint George': 426, "Donets'ka Oblast'": 427, 'Cebu City': 428, 'Mandaue': 429, 'Licko-Senjska': 430, 'Doncaster': 431, 'NA - Montenegro': 432, 'Brunei and Muara': 433, 'Baja California': 434, 'Queretaro de Arteaga': 435, 'Dungannon': 436, 'Edutainment': 437, 'Warminsko-Mazurskie': 438, 'Burgas': 439, 'Bay of Plenty': 440, 'Ceara': 441, 'Omsk': 442, 'Magdalena': 443, 'Varna': 444, "Cherkas'ka Oblast'": 445, 'Primorsko-Goranska': 446, 'Vientiane': 447, 'Khuzestan': 448, 'Ras Al Khaimah': 449, 'MOOC': 450, 'Nintendo': 451, 'Valle del Cauca': 452, 'Saint Catherine': 453, 'Shizuoka': 454, 'Cheshire West and Chester': 455, 'Varmlands Lan': 456, 'Chhattisgarh': 457, 'Manawatu-Wanganui': 458, 'Wicklow': 459, 'Specific': 460, 'Integrated': 461, 'Circuit': 462, '(ASIC)': 463, 'Al Manamah': 464, 'Corse': 465, 'Greenwich': 466, 'Antalya': 467, 'Panevezio Apskritis': 468, 'Limousine': 469, 'Dudley': 470, 'Podkarpackie': 471, 'Sogn og Fjordane': 472, 'Powys': 473, 'Orenburg': 474, 'Penetration': 475, 'Maribor Commune': 476, 'Luanda': 477, 'Broker': 478, 'Cebu': 479, 'Bexley': 480, 'Trucks': 481, 'Bryansk': 482, 'Hatay': 483, 'Khulna': 484, 'Chiang Mai': 485, 'Coast': 486, 'Santarem': 487, 'Antrim': 488, 'Gilan': 489, 'Medway': 490, 'Lesvos': 491, 'Hunting': 492, 'Mugla': 493, 'Northwest Territories': 494, 'Dimashq': 495, 'Hainan': 496, 'Banaadir': 497, 'Samsun': 498, 'Belgorod': 499, 'Xizang': 500, 'Lisburn': 501, 'Arusha': 502, 'Nonthaburi': 503, 'Liban-Nord': 504, 'Vukovarsko-Srijemska': 505, 'Southend-on-Sea': 506, 'Lubelskie': 507, 'Gisborne': 508, 'Bihar': 509, 'Perak': 510, 'Collection': 511, 'Jammu and Kashmir': 512, 'Alagoas': 513, 'NA - Zimbabwe': 514, 'Alger': 515, 'La Libertad': 516, 'Butare': 517, 'Guarda': 518, 'Ulaanbaatar': 519, 'Magherafelt': 520, 'Havering': 521, 'Para': 522, 'Swimming': 523, 'Thurrock': 524, 'Vaduz': 525, 'Rigas': 526, 'Iloilo City': 527, 'Pahang': 528, 'Southland': 529, 'Enugu': 530, 'Samara': 531, 'Almaty City': 532, 'Paphos': 533, 'Kocaeli': 534, 'Arad': 535, 'Hyogo': 536, 'Tomsk': 537, 'Sousse': 538, 'Vas': 539, 'Tottori': 540, 'Chongqing': 541, 'Alajuela': 542, 'Swietokrzyskie': 543, 'Quantified': 544, 'Self': 545, 'Parks': 546, 'Littoral': 547, 'Araucania': 548, 'Penza': 549, 'Moray': 550, 'Kosice': 551, 'Mersin': 552, 'Obwalden': 553, 'Rabat-Sale-Zemmour-Zaer': 554, 'Rivers': 555, 'Saint John Figtree': 556, 'Barking and Dagenham': 557, 'Atlantico': 558, 'Hedmark': 559, 'Assam': 560, "Minskaya Voblasts'": 561, 'Dubrovacko-Neretvanska': 562, 'Diekirch': 563, 'Marlborough': 564, 'Samut Prakan': 565, 'Pichincha': 566, 'North Lincolnshire': 567, "Zaporiz'ka Oblast'": 568, 'Arbil': 569, 'Sinaloa': 570, 'Heilongjiang': 571, 'Kangwon-do': 572, 'Taegu-jikhalsi': 573, 'Ekiti': 574, 'Puebla': 575, 'Podlaskie': 576, 'Medimurska': 577, 'Made': 578, 'Order': 579, 'West Bank': 580, 'North East Lincolnshire': 581, 'Oyo': 582, 'Nassarawa': 583, 'Guanacaste': 584, 'Rift Valley': 585, 'Guatemala': 586, 'Meknes-Tafilalet': 587, 'Chihuahua': 588, 'Ustecky kraj': 589, 'New Providence': 590, 'Campeche': 591, 'Millennials': 592, 'South-East': 593, 'Beja': 594, 'Islington': 595, 'Santiago del Estero': 596, 'Batangas': 597, 'Santa Ana': 598, 'Beau Vallon': 599, 'Novgorod': 600, 'Burgenland': 601, 'Aberdeenshire': 602, 'Valcea': 603, 'Yucatan': 604, 'Surfing': 605, 'Camden': 606, 'Rajshahi': 607, 'Lapland': 608, 'Anambra': 609, 'Cundinamarca': 610, 'Lubuskie': 611, 'Fars': 612, 'Laois': 613, 'Francisco Morazan': 614, 'Tula': 615, 'Isle of Wight': 616, 'Trencin': 617, 'Ioannina': 618, 'Distillery': 619, 'Khania': 620, 'Craigavon': 621, 'Faro': 622, 'Gyor': 623, 'Gavleborgs Lan': 624, 'Delta': 625, 'Cartago': 626, 'Port-of-Spain': 627, 'Trabzon': 628, 'Hammersmith and Fulham': 629, 'Shimane': 630, 'Masqat': 631, 'Gyor-Moson-Sopron': 632, 'Windhoek': 633, 'Guizhou': 634, 'Nitra': 635, 'Phnum Penh': 636, 'Kerkira': 637, 'Jharkhand': 638, 'NA - Zambia': 639, 'Jihocesky kraj': 640, 'Osun': 641, "Chernihivs'ka Oblast'": 642, 'Shiga': 643, 'Plateau': 644, 'Pasay': 645, 'Conwy': 646, 'Tameside': 647, 'Kirov': 648, 'Midlothian': 649, 'Prediction': 650, 'Norourland Eystra': 651, 'San Juan': 652, 'Miskolc': 653, 'La Altagracia': 654, "Zhytomyrs'ka Oblast'": 655, 'Shanxi': 656, 'Permskiy Kray': 657, 'Eskisehir': 658, 'Sharjah': 659, 'Eastern': 660, 'Extermination': 661, 'Nagano': 662, 'Aomori': 663, 'Ballymena': 664, 'Sandwell': 665, 'Puerto Plata': 666, 'Takeo': 667, 'South Gloucestershire': 668, 'Volgograd': 669, 'Walsall': 670, 'Ajman': 671, 'Table': 672, 'Cricket': 673, 'Suceava': 674, 'Gansu': 675, 'Kalimantan Barat': 676, 'Yangon': 677, 'Orkney': 678, 'Magnisia': 679, 'Southern': 680, 'Sabaragamuwa': 681, 'Bistrita-Nasaud': 682, 'Waltham Forest': 683, 'Liberecky kraj': 684, 'Rostov': 685, 'Veszprem': 686, 'Rethimni': 687, 'Zeeland': 688, "Vitsyebskaya Voblasts'": 689, 'Confectionery': 690, 'Kwangju-jikhalsi': 691, 'Volta': 692, 'Saratov': 693, 'Sulawesi Selatan': 694, "Ha'il": 695, 'Wandsworth': 696, 'Sutton': 697, 'Riviere du Rempart': 698, 'Johor': 699, 'Kensington and Chelsea': 700, 'Skiing': 701, 'Cross River': 702, 'Amusement': 703, 'Park': 704, 'Arcade': 705, 'San Luis Potosi': 706, 'Marrakech-Tensift-Al Haouz': 707, 'Wigan': 708, 'Yamaguchi': 709, 'Baseball': 710, 'Prahova': 711, 'North Region': 712, 'Nagasaki': 713, 'Maritime': 714, 'Al Anbar': 715, 'Usulutan': 716, 'Gros-Islet': 717, 'Tochigi': 718, 'Bio-Bio': 719, 'Laguna': 720, 'Sarawak': 721, 'Kardhitsa': 722, "Astrakhan'": 723, 'Coquimbo': 724, 'Ilhas': 725, 'Famagusta': 726, 'Tabasco': 727, 'Nayarit': 728, 'Al Madinah': 729, 'Swindon': 730, 'South Ayrshire': 731, 'Isparta': 732, 'Redcar and Cleveland': 733, 'Kursk': 734, "Yaroslavl'": 735, 'Al Khartum': 736, 'Chelyabinsk': 737, 'Pembrokeshire': 738, 'Varazdinska': 739, 'Karlovarsky kraj': 740, 'Aceh': 741, 'Sunderland': 742, 'Guangxi': 743, 'Sailing': 744, 'Baja California Sur': 745, 'Cholla-namdo': 746, 'Freeport': 747, 'Arequipa': 748, 'Kigali': 749, 'Espirito Santo': 750, 'Voronezh': 751, 'Sabah': 752, 'Miyagi': 753, 'Akhaia': 754, 'Hidalgo': 755, 'Yukon Territory': 756, 'Puntarenas': 757, 'Mwanza': 758, 'Zambales': 759, 'Cookstown': 760, 'Cusco': 761, 'Dakar': 762, 'Salford': 763, 'Banbridge': 764, 'Kochi': 765, 'Nyanza': 766, 'Maputo': 767, "Mykolayivs'ka Oblast'": 768, 'Longford': 769, 'Doukkala-Abda': 770, 'Vila Real': 771, 'Viseu': 772, 'Viljandimaa': 773, "Ivano-Frankivs'ka Oblast'": 774, 'Edo': 775, 'Qina': 776, 'Kedah': 777, 'Jiangxi': 778, 'Yunnan': 779, 'Ebonyi': 780, 'Tambovskaya oblast': 781, 'Nord-Trondelag': 782, 'Sinop': 783, 'Cortes': 784, 'Okinawa': 785, 'Pathum Thani': 786, 'El Seibo': 787, 'Braganca': 788, 'Ordu': 789, 'Hackney': 790, 'Portsmouth': 791, 'Ports': 792, 'Harbors': 793, 'Chittagong': 794, 'Barisal': 795, 'Huila': 796, 'Maranhao': 797, 'NA - Guam': 798, 'Timber': 799, 'Roscommon': 800, 'Colima': 801, 'Kavala': 802, 'Smolensk': 803, 'Sakarya': 804, 'Los Lagos': 805, 'Gotlands Lan': 806, 'Manisa': 807, 'Kadiogo': 808, 'Balikesir': 809, 'Krasnoyarskiy Kray': 810, 'Ards': 811, 'Gaziantep': 812, 'Adana': 813, 'Denizli': 814, 'Basilicata': 815, 'Blantyre': 816, 'Paramaribo': 817, 'Azuay': 818, 'Diyarbakir': 819, 'Okayama': 820, 'Neath Port Talbot': 821, 'Constanta': 822, 'Galati': 823, 'Pusan-jikhalsi': 824, 'Bacau': 825, 'Michoacan de Ocampo': 826, 'Nei Mongol': 827, 'Xinjiang': 828, 'Taranaki': 829, 'Z': 830, "Valle d'Aosta": 831, "Stavropol'": 832, "Tver'": 833, 'Kemerovo': 834, 'Irkutsk': 835, 'Malatya': 836, 'Nevsehir': 837, 'Ilfov': 838, 'Aguascalientes': 839, 'Tripura': 840, 'Andaman and Nicobar Islands': 841, 'Fermanagh': 842, 'Maseru': 843, 'Tokushima': 844, 'Csongrad': 845, 'Fujairah': 846, 'Kumamoto': 847, 'Pecs': 848, 'Dar es Salaam': 849, 'Trikala': 850, 'Benguet': 851, 'Heves': 852, 'Szeged': 853, 'Gorj': 854, 'Bekes': 855, 'Nara': 856, 'Viana do Castelo': 857, 'Sylhet': 858, 'Sumatera Selatan': 859, "Volyns'ka Oblast'": 860, 'Kepulauan Riau': 861, 'Morelos': 862, 'Borsod-Abauj-Zemplen': 863, 'Maule': 864, 'Gifu': 865, 'Montserrado': 866, 'Armagh': 867, 'Bolton': 868, 'Bulacan': 869, 'Hiiumaa': 870, 'Jamtlands Lan': 871, 'Sumatera Utara': 872, 'Ventspils': 873, 'Bacs-Kiskun': 874, 'Fejer': 875, 'Bashkortostan': 876, 'Newham': 877, 'Western Area': 878, "Chernivets'ka Oblast'": 879, 'Foundries': 880, 'Liepaja': 881, 'East Ayrshire': 882, 'Surat Thani': 883, 'Lambeth': 884, 'Azores': 885, 'Tekirdag': 886, 'Eilean Siar': 887, 'Yamagata': 888, 'Tocantins': 889, 'Mato Grosso': 890, 'Piaui': 891, 'Antananarivo': 892, 'Lilongwe': 893, 'Komarom-Esztergom': 894, 'Niigata': 895, 'Kaduna': 896, 'Brazzaville': 897, 'Murmansk': 898, 'Ashanti': 899, 'Corrections': 900, 'Kano': 901, 'Ehime': 902, 'Veracruz-Llave': 903, 'Glarus': 904, 'Dadra and Nagar Haveli': 905, 'Mindoro Oriental': 906, 'Arges': 907, 'Southwark': 908, 'Almaty': 909, 'Darknet': 910, 'Ogun': 911, 'Bamako': 912, 'Alba': 913, 'Umm Al Quwain': 914, "Poltavs'ka Oblast'": 915, 'Ondo': 916, 'Olomoucky kraj': 917, 'Imo': 918, 'Santa Cruz': 919, 'Republika Srpska': 920, 'Sakha': 921, 'Kilkis': 922, 'Putrajaya': 923, 'NA - Marshall Islands': 924, 'Somogy': 925, 'Guerrero': 926, 'Siauliu Apskritis': 927, 'Kyongsang-namdo': 928, 'General Santos': 929, 'Ajdovscina Commune': 930, 'Orebro Lan': 931, 'Roku': 932, 'Kikladhes': 933, 'West Dunbartonshire': 934, 'Tamaulipas': 935, 'Ruggell': 936, 'Slough': 937, 'Trnava': 938, 'Trafford': 939, 'Jinja': 940, 'Bacolod': 941, 'Uri': 942, 'Akwa Ibom': 943, 'Jasz-Nagykun-Szolnok': 944, 'Khabarovsk': 945, "Zakarpats'ka Oblast'": 946, 'La Union': 947, 'Ad Daqahliyah': 948, 'Katanga': 949, 'Kinshasa': 950, 'Triesen': 951, 'Bolivar': 952, 'Houet': 953, 'Manabi': 954, 'Shetland Islands': 955, 'Kilimanjaro': 956, 'Meghalaya': 957, 'Northern': 958, 'Baguio': 959, 'Tagbilaran': 960, "Vinnyts'ka Oblast'": 961, 'Valmieras': 962, 'Finnmark': 963, 'Messinia': 964, 'Abia': 965, 'Gumma': 966, 'Torfaen': 967, 'East Azarbaijan': 968, 'North Western': 969, 'Hiroshima': 970, 'Tanga': 971, 'Daman and Diu': 972, 'Nabeul': 973, 'Negros Occidental': 974, 'Portalegre': 975, 'Larne': 976, 'Saint James': 977, 'Blagoevgrad': 978, "T'bilisi": 979, 'Kurgan': 980, 'Kagawa': 981, "Luhans'ka Oblast'": 982, 'Khanty-Mansiy': 983, 'Buryat': 984, 'Volley': 985, 'Ball': 986, 'Gaza': 987, 'Szabolcs-Szatmar-Bereg': 988, 'Andorra la Vella': 989, 'Leningrad': 990, 'Pangasinan': 991, 'Limavady': 992, 'Kampot': 993, 'Tianjin': 994, 'Arnessysla': 995, 'Tanger-Tetouan': 996, 'Estuaire': 997, 'Trarza': 998, 'Niamey': 999, 'Asyut': 1000, "Rivnens'ka Oblast'": 1001, 'Pampanga': 1002, 'Jizan': 1003, 'Vysocina': 1004, 'Qinghai': 1005, 'Batangas City': 1006, 'North-East Region': 1007, 'Quindio': 1008, 'Iwate': 1009, 'Central Bedfordshire': 1010, 'Ruse': 1011, 'Ningxia': 1012, 'Dambovita': 1013, 'Amara': 1014, 'Krapinsko-Zagorska': 1015, 'Akita': 1016, 'Sakhalin': 1017, 'Zala': 1018, 'Nograd': 1019, 'Baranya': 1020, 'Ida-Virumaa': 1021, 'Tolna': 1022, 'Al Basrah': 1023, 'Zadarska': 1024, 'As Sulaymaniyah': 1025, 'Wakayama': 1026, 'Larisa': 1027, 'Lapu-Lapu': 1028, 'Vladimir': 1029, 'Fukui': 1030, 'Miyazaki': 1031, 'North Down': 1032, 'Carrickfergus': 1033, 'East Dunbartonshire': 1034, 'East Region': 1035, 'Ferry': 1036, 'Kostroma': 1037, 'Oueme': 1038, 'Hajdu-Bihar': 1039}

## ICA

In [36]:
from scipy.sparse import csr_matrix
import collections

# Load our filtered vocabulary if we've saved it on disk.

row_indices = []
col_indices = []
data_values = []

iter = 0
for (i, row) in org_info_selected.iterrows():
  if iter == test_stop:
    break
  iter += 1
  for col, _ in row.iteritems():
    if col in comma_sep_list_vars:
      # Break categories into unigrams
      unigram_counts = collections.Counter()
      token_lists = [x.split(' ') for x in row[col].strip().split(',')]
      for token_list in token_lists:
        for token in token_list:
          unigram_counts[token] += 1
      
      for unigram, count in unigram_counts.items():
        if unigram in vocabulary:
          row_indices.append(i)
          col_indices.append(word_to_index[unigram])
          data_values.append(count)
    elif col in categorical_vars:
      value = row[col]
      if value in vocabulary:
        row_indices.append(i)
        col_indices.append(word_to_index[value])
        data_values.append(1)
print(iter)
print(row_indices)

ica_precursor = csr_matrix((data_values, (row_indices, col_indices)))
print(ica_precursor.toarray().shape)

101
[0, 1, 1, 1, 1, 1, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 6, 7, 8, 11, 13, 15, 15, 15, 15, 15, 16, 18, 18, 19, 21, 21, 22, 22, 23, 24, 24, 25, 26, 26, 27, 29, 29, 30, 30, 30, 31, 31, 31, 31, 31, 31, 32, 33, 33, 34, 36, 36, 36, 37, 37, 37, 38, 38, 38, 39, 39, 40, 40, 40, 41, 41, 41, 43, 44, 46, 46, 47, 50, 51, 52, 53, 53, 54, 54, 55, 55, 56, 56, 56, 57, 58, 59, 61, 61, 61, 61, 62, 62, 62, 62, 62, 62, 63, 64, 64, 65, 65, 65, 65, 65, 65, 65, 66, 66, 67, 69, 70, 70, 70, 72, 74, 75, 75, 76, 77, 79, 81, 81, 82, 82, 82, 83, 83, 85, 86, 86, 86, 86, 87, 89, 89, 89, 89, 89, 89, 90, 90, 90, 90, 91, 91, 91, 92, 93, 94, 94, 96, 96, 97, 97, 98, 98, 98, 99, 99, 99]
(100, 25)

In [37]:
from sklearn.decomposition import FastICA

num_components = int(vocabulary_size/3)
ica = FastICA(n_components=num_components)
transformed = ica.fit_transform(ica_precursor.toarray())
print(transformed.shape)

(100, 8)

## Add other vars

In [ ]:

# data_dense_rows = []
# data_sparse_rows = []
# dummy_list_var_index = 0
# list_var_set = set()

for i, row in org_info_selected.iterrows():
  sparse_out = {}
  dense_out = {}
  for col, _ in row.iteritems():
    if col in comma_sep_list_vars:
      # Break categories into unigrams
      token_lists = [x.split(' ') for x in row[col].strip().split(',')]
      value_types = []
      for token_list in token_lists:
        for token in token_list:
          value_types.append(token)
      for value_type in value_types:
        sparse_out[value_type] = 1
        list_var_set.add(value_type)
    elif col in categorical_vars:
      value_type = row[col]
      sparse_out[value_type] = 1
    else:
      dense_out[col] = row[col]
  dense_out['uuid'] = row['uuid']
  data_sparse_rows.append(pd.DataFrame.from_dict(sparse_out, orient='index').astype(pd.SparseDtype(int, np.nan)))
  data_dense_rows.append(dense_out)
  print(len(list_var_set))

print("Concatenating")
sparse_output = pd.concat(data_sparse_rows, axis=0, ignore_index=True)
dense_output = pd.concat(data_dense_rows, axis=0, ignore_index=True)
output.head()

# Modelling the problem in the scope of a strategy

Suppose my strategy was mostly based on my expectations of what value a startup reached by day N. 

I could define N to be [0, 500, 1000, 1500], and that means I am making decisions based on predicted valuation at days 0, 500, 1000, 1500. 

For each N, we can train a regressor that predicts valuation at day N. If day N
does not have a specific price, we interpolate linearly between price points.

In [ ]:
prediction_dates = [500]